.widget-socialicon {
  width: 17px;
  height: 15px;
  float: left;
  margin-right: 10px;
}

.widget-socialicon a {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: .7;
  -webkit-transition: opacity 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: opacity 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: opacity 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: opacity 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.widget-socialicon a:hover {
  opacity: 1;
}
