@import "bootstrap/bootstrap/variables";
//
// custom grid
//

// Large screen / wide desktop
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px;
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1300px !default;
// Large screen / wide desktop
$container-large-desktop:      (1230px + $grid-gutter-width) !default;

//
// branding
//
$brand-primary: #ef862b;
$brand-border: #ef862b;

$body-bg:	#fff;

$gray-base:				#1b2e3b;
$gray-darker:			#0e171e;
$gray-dark:				#000;
$gray:					#83868c;
$gray-light:			#d7d7d7;
$gray-lighter:			#eeeeef;

$gray-border:			#e3e3e3;

$text-color:            #1b2e3b;
$text-color-light:		#fff;
$link-color:            $text-color;
//
// typography
//
$font-family-sans-serif:  'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          12px;
$font-size-large:         14px;
$font-size-small:         10px;

$font-size-h1:            18px;
$font-size-h2:            18px;
$font-size-h3:            14px;
$font-size-h4:            13px;
$font-size-h5:            12px;
$font-size-h6:            10px;

$headings-font-family:    $font-family-sans-serif;
$headings-font-weight:    700;
$headings-line-height:    1;
$headings-color:          #000;

$border-radius-base:        0;
$border-radius-large:       0;
$border-radius-small:       0;
//
// usuniecie glyphicon - odkomentowac w bootstrap.scss
//
//


//
//custom
//
$transition: 1s cubic-bezier(0.19, 1, 0.22, 1);

$text-shadow: 1px 1px rgba(#000,0.3);
$box-shadow: 1px 1px 3px rgba(#000,0.3);
