// @import "variables-custom";
// @import "bootstrap/bootstrap/variables";
@import "mixin";
/* ================= */
/* 1. General Style  */
/* ================= */
// GT Pressura Mono
@font-face {
    font-family: 'GT Pressura Mono';
    src: url('../fonts/hinted-GTPressuraMono-Light.eot');
    src: url('../fonts/hinted-GTPressuraMono-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/hinted-GTPressuraMono-Light.woff2') format('woff2'), url('../fonts/hinted-GTPressuraMono-Light.woff') format('woff'), url('../fonts/hinted-GTPressuraMono-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'GT Pressura Mono';
    src: url('../fonts/hinted-GTPressuraMono-LightItalic.eot');
    src: url('../fonts/hinted-GTPressuraMono-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/hinted-GTPressuraMono-LightItalic.woff2') format('woff2'), url('../fonts/hinted-GTPressuraMono-LightItalic.woff') format('woff'), url('../fonts/hinted-GTPressuraMono-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'GT Pressura Mono';
    src: url('../fonts/hinted-GTPressuraMono-RegularItalic.eot');
    src: url('../fonts/hinted-GTPressuraMono-RegularItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/hinted-GTPressuraMono-RegularItalic.woff2') format('woff2'), url('../fonts/hinted-GTPressuraMono-RegularItalic.woff') format('woff'), url('../fonts/hinted-GTPressuraMono-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'GT Pressura Mono';
    src: url('../fonts/hinted-GTPressuraMono.eot');
    src: url('../fonts/hinted-GTPressuraMono.eot?#iefix') format('embedded-opentype'), url('../fonts/hinted-GTPressuraMono.woff2') format('woff2'), url('../fonts/hinted-GTPressuraMono.woff') format('woff'), url('../fonts/hinted-GTPressuraMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GT Pressura Mono';
    src: url('../fonts/hinted-GTPressuraMono-Bold.eot');
    src: url('../fonts/hinted-GTPressuraMono-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/hinted-GTPressuraMono-Bold.woff2') format('woff2'), url('../fonts/hinted-GTPressuraMono-Bold.woff') format('woff'), url('../fonts/hinted-GTPressuraMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'GT Pressura Mono';
    src: url('../fonts/hinted-GTPressuraMono-BoldItalic.eot');
    src: url('../fonts/hinted-GTPressuraMono-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/hinted-GTPressuraMono-BoldItalic.woff2') format('woff2'), url('../fonts/hinted-GTPressuraMono-BoldItalic.woff') format('woff'), url('../fonts/hinted-GTPressuraMono-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
// Sofia pro
@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/hinted-SofiaProUltraLight.eot');
    src: url('../fonts/hinted-SofiaProUltraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/hinted-SofiaProUltraLight.woff2') format('woff2'), url('../fonts/hinted-SofiaProUltraLight.woff') format('woff'), url('../fonts/hinted-SofiaProUltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/hinted-SofiaProLight.eot');
    src: url('../fonts/hinted-SofiaProLight.eot?#iefix') format('embedded-opentype'), url('../fonts/hinted-SofiaProLight.woff2') format('woff2'), url('../fonts/hinted-SofiaProLight.woff') format('woff'), url('../fonts/hinted-SofiaProLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/hinted-SofiaProExtraLight.eot');
    src: url('../fonts/hinted-SofiaProExtraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/hinted-SofiaProExtraLight.woff2') format('woff2'), url('../fonts/hinted-SofiaProExtraLight.woff') format('woff'), url('../fonts/hinted-SofiaProExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/hinted-SofiaProBold.eot');
    src: url('../fonts/hinted-SofiaProBold.eot?#iefix') format('embedded-opentype'), url('../fonts/hinted-SofiaProBold.woff2') format('woff2'), url('../fonts/hinted-SofiaProBold.woff') format('woff'), url('../fonts/hinted-SofiaProBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/hinted-SofiaProRegular.eot');
    src: url('../fonts/hinted-SofiaProRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/hinted-SofiaProRegular.woff2') format('woff2'), url('../fonts/hinted-SofiaProRegular.woff') format('woff'), url('../fonts/hinted-SofiaProRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/hinted-SofiaProMedium.eot');
    src: url('../fonts/hinted-SofiaProMedium.eot?#iefix') format('embedded-opentype'), url('../fonts/hinted-SofiaProMedium.woff2') format('woff2'), url('../fonts/hinted-SofiaProMedium.woff') format('woff'), url('../fonts/hinted-SofiaProMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Sofia Pro Semi';
    src: url('../fonts/hinted-SofiaProSemiBold.eot');
    src: url('../fonts/hinted-SofiaProSemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/hinted-SofiaProSemiBold.woff2') format('woff2'), url('../fonts/hinted-SofiaProSemiBold.woff') format('woff'), url('../fonts/hinted-SofiaProSemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/hinted-SofiaProBlack.eot');
    src: url('../fonts/hinted-SofiaProBlack.eot?#iefix') format('embedded-opentype'), url('../fonts/hinted-SofiaProBlack.woff2') format('woff2'), url('../fonts/hinted-SofiaProBlack.woff') format('woff'), url('../fonts/hinted-SofiaProBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

body {
    overflow-x: hidden;
    font-family: 'Sofia Pro';
    font-weight: normal;
    font-size: 15px;
    padding: 75px 0 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}
body.error404 {
    background: #000;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {}

*,
a,
button,
input {
    outline: 0 !important;
}

.textwidget h1,
.textwidget h2,
.textwidget h3,
.textwidget h4,
.textwidget h5 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.width100 {
    width: 100%;
}

input,
textarea {
    -webkit-appearance: none !important;
    border-radius: 0 !important;
}
/* btn */
.btn {
    -moz-box-shadow: 0 3px 14px -4px rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.btn:active {
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    outline: 0;
}

.btn:hover {
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.btn:focus {
    outline: 0;
}

.btn-file {
    padding-top: 8px;
    padding-bottom: 9px;
}

.transition {
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #b8b8b8 !important;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #b8b8b8 !important;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #b8b8b8 !important;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #b8b8b8 !important;
}
/* content */
.alignnone {}

.alignleft {
    text-align: left;
}

.alignright {
    text-align: right;
}

.aligncenter {
    text-align: center;
}

img.alignnone {
    display: block;
    max-width: 100%;
    height: auto;
    text-align: center;
    margin-top: 15px;
    padding-bottom: 15px;
}

img.alignleft {
    display: block;
    max-width: 100%;
    height: auto;
    float: left;
    margin-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

img.alignright {
    display: block;
    max-width: 100%;
    height: auto;
    float: right;
    margin-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

img.aligncenter {
    display: block;
    max-width: 100%;
    text-align: center;
    height: auto;
    padding-bottom: 15px;
    margin: 0 auto;
}

.text44 {
    font-size: 44px;
    line-height: 54px;
}

.text38 {
    font-size: 38px;
    line-height: 44px;
}

.text32 {
    font-size: 32px;
    line-height: 41px;
}

.text26 {
    font-size: 26px;
    line-height: 38px;
}

.text24 {
    font-size: 24px;
    line-height: 36px;
}

.text22 {
    font-size: 22px;
    line-height: 28px;
}

.text19 {
    font-size: 19px;
    line-height: 24px;
}

.text15 {
    font-size: 15px;
    line-height: 20px;
}

.text13 {
    font-size: 13px;
    line-height: 18px;
}

.textGray {
    color: #6E6E6E;
}

.textBlack {
    color: #000000;
}

.textPressuraMono {
    font-family: 'GT Pressura Mono';
    font-weight: normal;
}

.textBold {
    font-weight: bold;
}

.textParagraph {
        padding-bottom: 30px;
}

.textParagraph:last-child {
        padding-bottom: 0px;
}
@media (max-width: 992px) {
    .text44 {
        font-size: 44px;
        line-height: 54px;
    }

    .text38 {
        font-size: 34px;
        line-height: 40px;
    }

    .text26 {
        font-size: 23px;
        line-height: 29px;
    }

    .text24 {
        font-size: 21px;
        line-height: 30px;
    }

    .text22 {
        font-size: 20px;
        line-height: 26px;
    }

    .text19 {
        font-size: 17px;
        line-height: 22px;
    }

    .text15 {
        font-size: 14px;
        line-height: 19px;
    }

    .text13 {
        font-size: 13px;
        line-height: 18px;
    }
}
@media (max-width: 767px) {
    .text44 {
        font-size: 44px;
        line-height: 54px;
    }

    .text38 {
        font-size: 30px;
        line-height: 36px;
    }

    .text26 {
        font-size: 20px;
        line-height: 26px;
    }

    .text24 {
        font-size: 19px;
        line-height: 25px;
    }

    .text22 {
        font-size: 17px;
        line-height: 23px;
    }

    .text19 {
        font-size: 15px;
        line-height: 20px;
    }

    .text15 {
        font-size: 13px;
        line-height: 18px;
    }

    .text13 {
        font-size: 12px;
        line-height: 17px;
    }
}
/* ================= */
/* 1.1 Page builder */
/* ================= */
.bg-center {
    background-position: center center !important;
}

.bg-l_u {
    background-position: left top !important;
}

.bg-l_d {
    background-position: left bottom !important;
}

.bg-p_u {
    background-position: right top !important;
}

.bg-p_d {
    background-position: right bottom !important;
}

.bg-c_u {
    background-position: center top !important;
}

.bg-c_d {
    background-position: center bottom !important;
}

.background_norepeat {
    background-repeat: no-repeat !important;
}
//
// Extra bootstrap
//

.offset-right-12 {
    margin-right: 100%;
}

.offset-right-11 {
    margin-right: 91.66666667%;
}

.offset-right-10 {
    margin-right: 83.33333333%;
}

.offset-right-9 {
    margin-right: 75%;
}

.offset-right-8 {
    margin-right: 66.66666667%;
}

.offset-right-7 {
    margin-right: 58.33333333%;
}

.offset-right-6 {
    margin-right: 50%;
}

.offset-right-5 {
    margin-right: 41.66666667%;
}

.offset-right-4 {
    margin-right: 33.33333333%;
}

.offset-right-3 {
    margin-right: 25%;
}

.offset-right-2 {
    margin-right: 16.66666667%;
}

.offset-right-1 {
    margin-right: 8.33333333%;
}

.offset-right-0 {
    margin-right: 0;
}
@media (min-width: 768px) {
    .offset-right-md-12 {
        margin-right: 100%;
    }

    .offset-right-md-11 {
        margin-right: 91.66666667%;
    }

    .offset-right-md-10 {
        margin-right: 83.33333333%;
    }

    .offset-right-md-9 {
        margin-right: 75%;
    }

    .offset-right-md-8 {
        margin-right: 66.66666667%;
    }

    .offset-right-md-7 {
        margin-right: 58.33333333%;
    }

    .offset-right-md-6 {
        margin-right: 50%;
    }

    .offset-right-md-5 {
        margin-right: 41.66666667%;
    }

    .offset-right-md-4 {
        margin-right: 33.33333333%;
    }

    .offset-right-md-3 {
        margin-right: 25%;
    }

    .offset-right-md-2 {
        margin-right: 16.66666667%;
    }

    .offset-right-md-1 {
        margin-right: 8.33333333%;
    }

    .offset-right-md-0 {
        margin-right: 0;
    }
}
@media (min-width: 992px) {
    .offset-right-lg-12 {
        margin-right: 100%;
    }

    .offset-right-lg-11 {
        margin-right: 91.66666667%;
    }

    .offset-right-lg-10 {
        margin-right: 83.33333333%;
    }

    .offset-right-lg-9 {
        margin-right: 75%;
    }

    .offset-right-lg-8 {
        margin-right: 66.66666667%;
    }

    .offset-right-lg-7 {
        margin-right: 58.33333333%;
    }

    .offset-right-lg-6 {
        margin-right: 50%;
    }

    .offset-right-lg-5 {
        margin-right: 41.66666667%;
    }

    .offset-right-lg-4 {
        margin-right: 33.33333333%;
    }

    .offset-right-lg-3 {
        margin-right: 25%;
    }

    .offset-right-lg-2 {
        margin-right: 16.66666667%;
    }

    .offset-right-lg-1 {
        margin-right: 8.33333333%;
    }

    .offset-right-lg-0 {
        margin-right: 0;
    }
}
// @media (min-width: 1200px) {
//     .offset-right-lg-12 {
//         margin-right: 100%;
//     }
//
//     .offset-right-lg-11 {
//         margin-right: 91.66666667%;
//     }
//
//     .offset-right-lg-10 {
//         margin-right: 83.33333333%;
//     }
//
//     .offset-right-lg-9 {
//         margin-right: 75%;
//     }
//
//     .offset-right-lg-8 {
//         margin-right: 66.66666667%;
//     }
//
//     .offset-right-lg-7 {
//         margin-right: 58.33333333%;
//     }
//
//     .offset-right-lg-6 {
//         margin-right: 50%;
//     }
//
//     .offset-right-lg-5 {
//         margin-right: 41.66666667%;
//     }
//
//     .offset-right-lg-4 {
//         margin-right: 33.33333333%;
//     }
//
//     .offset-right-lg-3 {
//         margin-right: 25%;
//     }
//
//     .offset-right-lg-2 {
//         margin-right: 16.66666667%;
//     }
//
//     .offset-right-lg-1 {
//         margin-right: 8.33333333%;
//     }
//
//     .offset-right-lg-0 {
//         margin-right: 0;
//     }
// }
/* ================= */
/* 1.2 Grid */
/* ================= */
#loader {
    width: 100vw;
    height: 100vh;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    background: transparent;
    @include transition(background, .5s, linear, 0s);

    .logo {
        width: 200px;
        top: 50%;
        left: 50%;
        position: absolute;
        z-index: 1;
        opacity: 0;
        @include transform(translateX(-50%) translateY(-50%));
        @include transition(opacity, .5s, linear, 0s);
    }

    .boxs {
        width: 100%;
        height: 100%;
        transform: rotate(45deg);

        .box {
            width: 100vw;
            height: 100vh;
            position: absolute;
            background: #000;
            -webkit-box-shadow: 0 0 200px 30px rgba(0,0,0,0.35);
            -moz-box-shadow: 0 0 200px 30px rgba(0,0,0,0.35);
            box-shadow: 0 0 200px 30px rgba(0,0,0,0.35);
            @include transition2(margin, .75s, ease-in, 0s, background, 1s, linear, 0s);
        }

        .box1 {
            top: -50vh;
            left: -50vw;
            background: #000000;
            margin: -50vw 0 0 -50vw;
            transition-delay: 0.3s;
        }

        .box2 {
            top: -50vh;
            left: 50vw;
            background: #212121;
            margin: -50vw 0 0 50vw;
            transition-delay: 0.5s;
        }

        .box3 {
            top: 50vh;
            left: -50vw;
            background: #212121;
            margin: 50vw 0 0 -50vw;
            transition-delay: 0.5s;
        }

        .box4 {
            top: 50vh;
            left: 50vw;
            background: #000000;
            margin: 50vw 0 0 50vw;
            transition-delay: 0.3s;
        }
    }
}

#loader.show {
    background: #000000;
    @include transition(background, .5s, linear, .3s);

    .logo {
        opacity: 1;
    }

    .boxs {
        .box {
            background: #000000;
            @include transition2(margin, .5s, ease-out, 0s, background, .5s, linear, 0s);
        }

        .box1 {
            margin: 0;
        }

        .box2 {
            margin: 0;
            transition-delay: 0.1s;
        }

        .box3 {
            margin: 0;
            transition-delay: 0.2s;
        }

        .box4 {
            margin: 0;
            transition-delay: 0.3s;
        }
    }
}
@media (max-width: 767px) {
    #loader {
        display: none;
    }
}
/* ================= */
/* 2. MENU           */
/* ================= */
header {
    width: 100%;
    height: 75px;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

    .links {
        ul {
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                float: left;
                position: relative;
                padding-left: 50px;

                a {
                    font-family: 'GT Pressura Mono';
                    font-size: 15px;
                    font-weight: normal;
                    color: #EBEBEB;
                    white-space: nowrap;
                }

                ul {
                    position: absolute;
                    top: 0;
                    left: 0;

                    li {
                        padding-right: 0;

                        a {
                            line-height: 32px;
                            font-family: 'GT Pressura Mono';
                            font-size: 13px;
                            font-weight: normal;
                            color: #AAAAAA;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }

    .less {
        height: 75px;
        background: #000;
        position: relative;
        z-index: 2;

        .logo {
            display: block;
            float: left;
            line-height: 75px;
        }

        ._off {
            display: none;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 9;
        }
        // c-hamburger
        .c-hamburger {
            display: none;
            position: absolute;
            top: 0;
            right: 15px;
            overflow: hidden;
            margin: 0 0 0 auto;
            padding: 0;
            width: 40px;
            height: 40px;
            font-size: 0;
            text-indent: -9999px;
            appearance: none;
            background: none;
            box-shadow: none;
            border-radius: none;
            border: none;
            cursor: pointer;
        }

        .c-hamburger:focus {
            outline: none;
        }

        .c-hamburger span {
            display: block;
            position: absolute;
            top: 20px;
            left: 5px;
            right: 5px;
            height: 2px;
            background: white;
        }

        .c-hamburger span::after,
        .c-hamburger span::before {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #fff;
            content: "";
        }

        .c-hamburger span::before {
            top: -8px;
        }

        .c-hamburger span::after {
            bottom: -8px;
        }

        .c-hamburger--htx span {
            transition: background 0s 0.3s;
        }

        .c-hamburger--htx span::after,
        .c-hamburger--htx span::before {
            transition-duration: 0.3s, 0.3s;
            transition-delay: 0.3s, 0s;
        }

        .c-hamburger--htx span::before {
            transition-property: top, transform;
        }

        .c-hamburger--htx span::after {
            transition-property: bottom, transform;
        }

        .extra {
            position: absolute;
            top: 5px;
            right: 15px;
            z-index: 2;

            .bt-language,
            .bt-search,
            .link {
                display: inline-block;
            }

            .bt-language a,
            .bt-search,
            .link {
                font-family: 'GT Pressura Mono';
                font-weight: normal;
                font-size: 13px;
                text-transform: uppercase;
                color: #9A9A9A;
                margin-left: 30px;
            }

            .bt-search {
                svg {
                    position: relative;
                    top: 5px;

                    * {
                        fill: #9A9A9A;
                    }
                }
            }

            .bt-language {
                svg {
                    position: relative;
                    top: -2px;
                }
            }

            .link {}
        }

        .links {
            height: 75px;
            line-height: 75px;
            float: right;

            ul {
                li {
                    a {
                        text-decoration: none;
                    }

                    a.active,
                    a:hover {
                        text-decoration: underline;
                    }

                    ul {
                        display: none;
                    }
                }
            }
        }
    }

    .more {
        visibility: hidden;
        padding: 15px 0;
        pointer-events: none;
        position: relative;
        z-index: 1;

        .mask {
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.8);
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            opacity: 0.5;
            transform: translateY(-100%);
            @include transition(all, .5s, cubic-bezier(.12, .49, 0, 1), 0s);
        }

        .search {
            width: calc(100% / 12 * 3 - 60px);
            float: left;

            .container-input {
                display: inline-block;
                width: calc(100% - 35px);
                position: relative;

                input[type="text"] {
                    width: 100%;
                    height: 30px;
                    line-height: 30px;
                    font-family: 'GT Pressura Mono';
                    font-size: 15px;
                    font-weight: 300;
                    color: #AAAAAA;
                    border: none;
                    background: none;
                }

                .line {
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: #727272;
                }
            }

            button {
                background: none;
                border: none;
                float: right;
                cursor: pointer;
                opacity: 0;
                @include transition(opacity, .5s, cubic-bezier(.12, .49, 0, 1), .2s);

                svg * {
                    fill: #AAAAAA;
                    @include transition(fill, .35s, linear, 0s);
                }
            }

            button:hover {
                svg * {
                    fill: #fff;
                }
            }
        }

        .socials {
            position: absolute;
            bottom: 30px;
            opacity: 0;
            @include transition(opacity, .5s, cubic-bezier(.12, .49, 0, 1), .4s);
        }

        .links {
            float: right;

            ul {
                & > li {
                    opacity: 0;
                    @include transition(opacity, .5s, cubic-bezier(.12, .49, 0, 1), .2s);
                }

                & > li+li {
                    transition-delay: 0.1s;
                }

                & > li+li+li {
                    transition-delay: 0.2s;
                }

                & > li+li+li+li {
                    transition-delay: 0.3s;
                }

                & > li+li+li+li+li {
                    transition-delay: 0.4s;
                }

                & > li+li+li+li+li+li {
                    transition-delay: 0.5s;
                }


                li.dropdown {
                    &.hover a {
                        color: #fff;
                    }

                    & > a {
                        visibility: hidden;
                    }

                    a.active,
                    a:hover {
                        text-decoration: underline;
                    }

                    ul {
                        li {
                            float: none;
                            margin-left: 0;

                            & > a {
                                display: block;
                                opacity: 1;
                            }
                        }
                    }
                }
                li.dropdown.active * {
                    color: #fff;
                }

                li.dropdown_none {
                    & > a {
                        visibility: hidden;
                    }
                }
            }
        }
    }
}

header.hover {
    height: auto;

    .more {
        visibility: visible;
        pointer-events: all;

        .mask {
            opacity: 1;
            transform: translateY(0%);
        }

        .search {
            .line {
                -webkit-animation: searchLineAnim 0.35s ease both;
                animation: searchLineAnim 0.35s ease both;
            }
            @-webkit-keyframes searchLineAnim {
                from {
                    width: 0;
                }

                to {
                    width: 100%;
                }
            }
            @keyframes searchLineAnim {
                from {
                    width: 0;
                }

                to {
                    width: 100%;
                }
            }

            button {
                opacity: 1;
            }
        }

        .links {
            ul {
                & > li {
                    opacity: 1;
                }
            }
        }

        .socials {
            opacity: 1;
        }
    }
}

header.is-active {
    .less {
        .c-hamburger--htx span {
            background: none;
        }

        .c-hamburger--htx span::before {
            top: 0;
            transform: rotate(45deg);
        }

        .c-hamburger--htx span::after {
            bottom: 0;
            transform: rotate(-45deg);
        }

        .c-hamburger--htx span::after,
        .c-hamburger--htx span::before {
            transition-delay: 0s, 0.3s;
        }
    }
}
/* ================= */
/* 3. CONTENT        */
/* ================= */
.animated {
    position: relative;
    top: 100px;
    opacity: 0;
    @include transition2(top, 0.5s, cubic-bezier(.12, .49, 0, 1), 0s, opacity, 1.5s, cubic-bezier(.12, .49, 0, 1), 0s);
}

.animated.anim_end {
    top: 0;
    opacity: 1;
}
/* ================= */
/* 4. FOOTER         */
/* ================= */
footer {
    .our_brands {
        background: #212121;
        padding: 70px 0 120px;
        color: #fff;

        .header {
            font-family: 'Sofia Pro';
            font-weight: bold;
            color: #EBEBEB;
            margin-bottom: 85px;
        }
    }

    .footer {
        background: #000000;
        padding: 60px 0 25px;

        .container {
            position: relative;
        }

        img.logo {
            padding: 0 !important;
            margin: 0 !important;
        }

        .texts {
            font-family: 'GT Pressura Mono';
            font-weight: normal;
            color: #9A9A9A;

            a {
                color: #9A9A9A;
                @include transition(color, .5s, cubic-bezier(.12, .49, 0, 1), 0s);
            }

            a:hover {
                color: #21955F;
            }
        }

        .text-align-right {
            text-align: right;
        }

        .links {
            .cl-half {
                display: block;
                width: 50%;
                float: left;
            }

            a {
                font-family: 'GT Pressura Mono';
                font-size: 15px;
                font-weight: normal;
                line-height: 27px;
                color: #9A9A9A;
                white-space: nowrap;
                @include transition(color, .5s, cubic-bezier(.12, .49, 0, 1), 0s);
            }

            a:hover {
                color: #21955F;
            }
        }

        hr {
            width: 100%;
            height: 1px;
            background: #4d4d4d;
            border: none;
            margin: 20px 0;
        }

        .backtotop {
            font-family: 'GT Pressura Mono';
            font-size: 15px;
            font-weight: normal;
            line-height: 27px;
            color: #9A9A9A;
            position: absolute;
            top: -20px;
            z-index: 9;
            right: 0;
            transform: rotate(-90deg);
            transform-origin: 100% 0;
            cursor: pointer;
            @include transition(color, .5s, cubic-bezier(.12, .49, 0, 1), 0s);

            svg {
                position: relative;
                top: 4px;
                left: 15px;

                * {
                    stroke: #9A9A9A;
                    @include transition(stroke, .35s, cubic-bezier(.12, .49, 0, 1), 0s);
                }
            }
        }

        .backtotop:hover {
            color: #21955F;
            text-decoration: underline;

            svg * {
                stroke: #21955F;
            }
        }
    }
}
body.error404 footer .our_brands {
    display: none;
}
@media (max-width: 767px) {
    footer {
        .footer {
            .links {
                margin-bottom: 20px;
            }
            .backtotop {
                right: 50px;
            }
        }
    }
}
/* ================= */
/* 5. Shortcode      */
/* ================= */
.shortcode {
    .shortcode_header {
        font-family: 'Sofia Pro' !important;
        font-weight: bold !important;
        color: #000;
    }

    .navigation {
        display: block;
        width: 100%;
        height: 50px;
        line-height: 50px;
        background: #000;
        margin-top: 20px;

        .arrows {
            display: block;
            height: 50px;
            padding-left: 20px;
            float: left;

            a {
                display: inline-block;
                width: 35px;
                line-height: 50px;
                height: 50px;
                text-align: center;
                cursor: pointer;
                position: relative;

                svg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    @include transform(translateX(-50%) translateY(-50%));

                    * {
                        stroke: #9A9A9A;
                        @include transition(stroke, .35s, cubic-bezier(.12, .49, 0, 1), 0s);
                    }
                }
            }

            a:hover:not(.off) {
                svg * {
                    stroke: #21955F;
                }
            }

            a.off {
                opacity: 0.4;
                @include transition(stroke, 1s, cubic-bezier(.12, .49, 0, 1), 0s);
                cursor: default;
            }
        }

        .readmore {
            display: block;
            height: 50px;
            line-height: 50px;
            font-family: 'GT Pressura Mono';
            font-weight: normal;
            text-decoration: underline;
            color: #9A9A9A;
            float: left;
            padding-left: 30px;
        }

        .readmore:hover {
            color: #21955F;
        }
    }
}

.shortcode_scroll {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .items_container {
        overflow: hidden;
        position: relative;
        @include transition(height, 2.5s, cubic-bezier(.12, .49, 0, 1), 0s);

        .items {
            width: 100%;
            position: absolute;
            top: 0;
            @include transition(top, 2.5s, cubic-bezier(.12, .49, 0, 1), 0s);

            .item {
                opacity: 0;
                @include transition(opacity, 1.5s, cubic-bezier(.12, .49, 0, 1), 0s);
            }

            .item.show {
                opacity: 1;
            }
        }
    }
}

.shortcode_cision_feed1 {
    .posts {
        .post {
            margin-bottom: 25px;
            position: relative;

            .date {
                font-family: 'GT Pressura Mono';
                font-weight: normal;
                color: #9A9A9A;
                margin-bottom: 5px;
            }

            .title {
                display: inline-block;
                font-family: 'Sofia Pro';
                font-weight: bold;
                color: #000;
                margin-bottom: 5px;
                padding-right: 85px;
                cursor: pointer;
            }

            .excerpt,
            .readmore {
                font-family: 'Sofia Pro';
                font-weight: 300;
                color: #9A9A9A;
                padding-right: 85px;
            }

            .readmore {
                display: inline-block;
                text-decoration: underline;
                @include transition(color, .5s, cubic-bezier(.12, .49, 0, 1), 0s);
                cursor: pointer;
            }

            .readmore:hover {
                color: #21955F;
            }

            .arrow {
                position: absolute;
                top: 50%;
                right: 15px;
                @include transform(translateY(-50%));
                line-height: 0;
                cursor: pointer;

                svg * {
                    stroke: #9A9A9A;
                }
            }

            .arrow:hover {
                svg * {
                    stroke: #21955F;
                }
            }
        }

        .post:last-child {
            margin-bottom: 0;
        }
    }
}
/* ================================== */
/* 5.2. Shortcode - shortcode_events     */
/* ================================== */
.shortcode_events {
    .shortcode_header {
        margin-bottom: 20px;
    }

    .events {
        .event {
            margin-bottom: 40px;

            .date {
                font-family: 'GT Pressura Mono';
                font-weight: normal;
                color: #9A9A9A;
                margin-bottom: 10px;
            }

            .title {
                font-family: 'Sofia Pro';
                font-weight: bold;
                color: #000;
                margin-bottom: 5px;
            }

            .add-calendar {
                display: block;
                text-decoration: none;

                svg {
                    position: relative;
                    top: 2px;
                    margin-right: 10px;

                    * {
                        fill: #21955F;
                    }
                }

                span {
                    font-family: 'GT Pressura Mono';
                    font-weight: normal;
                    color: #9A9A9A;
                    text-decoration: underline;
                    @include transition(color, .35s, cubic-bezier(0.12, 0.49, 0, 1), 0s);
                }
            }

            .add-calendar:hover {
                span {
                    color: #21955F;
                }
            }
        }
    }
}
/* ================================== */
/* 5.3. Shortcode - shortcode_scientificreports     */
/* ================================== */
.shortcode_scientificreports {
    .shortcode_header {
        margin-bottom: 20px;
    }

    .col-full {
        width: 100%;
    }

    .col-first {
        width: 60%;
        padding-right: 8%;
        position: relative;
    }

    .col-second {
        width: 40%;
        padding-right: 8%;
        position: relative;
    }

    .post {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 25px;
        position: relative;

        .date {
            font-family: 'GT Pressura Mono' !important;
            font-weight: normal !important;
            color: #9A9A9A;
            margin-bottom: 5px;
        }

        .title {
            display: inline-block;
            font-family: 'Sofia Pro' !important;
            font-weight: bold !important;
            color: #000;
            margin-bottom: 5px;
        }

        .data {
            font-family: 'GT Pressura Mono' !important;
            font-weight: normal !important;
            color: #9A9A9A;
            margin: 20px 0 0;
        }

        .download {
            position: absolute;
            top: 20px;
            right: 0;
            line-height: 0;
            cursor: pointer;

            svg * {
                stroke: #9A9A9A;
            }
        }

        .download:hover {
            svg * {
                stroke: #21955F;
            }
        }
    }

    .post:last-child {
        margin-bottom: 0;
    }
}
/* ======================================== */
/* 5.4. Shortcode - shortcode_stockexchange */
/* ======================================== */
.shortcode_stockexchange {
    width: 270px;
    background: #fff;
    margin: 0 auto;

    .data_main {
        padding: 20px 0;

        .text1 {
            font-family: 'Sofia Pro' !important;
            font-weight: bold !important;
            color: #000;
            text-align: center;
        }

        .text2 {
            font-family: 'GT Pressura Mono' !important;
            font-weight: normal !important;
            color: #000;
            text-align: center;
        }

        .share_price {
            text-align: center;

            .actual {
                display: inline-block;
                font-family: 'Sofia Pro' !important;
                font-weight: bold !important;
                color: #000;
                text-align: center;
                position: relative;
                margin: 30px 0;

                .currency {
                    font-family: 'GT Pressura Mono' !important;
                    font-weight: normal !important;
                    position: absolute;
                    top: -15px;
                    left: -30px;
                }

                .trend {
                    position: absolute;
                    top: 7px;
                    right: -30px;

                    svg {
                        display: none;
                    }
                }

                .trend.down svg.down,
                .trend.up svg.up {
                    display: block;
                }

                .value {
                    font-family: 'GT Pressura Mono' !important;
                    font-weight: normal !important;
                    position: absolute;
                    bottom: -15px;
                    right: -55px;
                    white-space: pre;
                    text-align: right;
                }
            }
        }
    }

    .data_param {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        background: #e8f6fa;
        border-bottom: 2px solid #fff;
        padding: 10px 40px;
        cursor: default;

        .name {
            width: 50%;
            font-family: 'GT Pressura Mono' !important;
            font-weight: normal !important;
            color: #000000;
            text-align: left;
        }

        .value {
            width: 50%;
            font-family: 'GT Pressura Mono' !important;
            font-weight: normal !important;
            color: #000000;
            text-align: right;
        }
    }

    .data_param:hover {
        background: #dbecf1;
    }

    .readmore {
        display: block;
        height: 50px;
        line-height: 50px;
        font-family: 'GT Pressura Mono' !important;
        font-weight: normal !important;
        color: #9A9A9A;
        text-decoration: underline;
        background: #000000;
        padding: 0 40px;
        cursor: pointer;
        @include transition(color, .5s, cubic-bezier(.12, .49, 0, 1), 0s);
    }

    .readmore:hover {
        color: #21955F;
    }

    .date {
        height: 65px;
        line-height: 65px;
        font-family: 'GT Pressura Mono' !important;
        font-weight: normal !important;
        color: #9A9A9A;
        text-align: center;
    }
}
/* ======================================== */
/* 5.4. Shortcode - shortcode_feedcategory  */
/* ======================================== */
.shortcode_feedcategory {
    .filter {
        margin-bottom: 2px;

        .title {
            display: block;
            height: 50px;
            line-height: 50px;
            font-family: 'GT Pressura Mono';
            font-weight: normal;
            color: #000;
            background: #d8f0f6;
            border-bottom: 2px solid #d8f0f6;
            padding: 0 10px;
            @include box-sizing();
        }

        &.active .title {
            border-bottom: 2px solid #298da4;
        }

        .select_category {
            width: 70%;
            height: 50px;
            float: left;
            border-right: 1px solid #87c5d1;
        }

        .select_year {
            width: 30%;
            height: 50px;
            float: left;
        }

        .clear {
            clear: both;
        }
    }

    .links {
        margin-top: 25px;

        a {
            display: block;
            height: 50px;
            line-height: 50px;
            background: #D9F1E3;
            border-bottom: 2px solid #fff;
            font-family: 'GT Pressura Mono';
            font-weight: normal;
            color: #000;
            padding: 0 10px;
            @include transition(color, .5s, cubic-bezier(.12, .49, 0, 1), 0s);
        }

        a:hover {
            background: #c7e3d3;
        }
    }

    .nice-select {
        display: inline-block !important;
        width: 100%;
        height: 50px;
        line-height: 50px;
        border: none;
        float: none;
        padding: 0 10px;
        background: #eff8fb;
        @include border-radius(0,0,0,0);

        &:after {
            width: 12px;
            height: 7px;
            background: url('../img/arrowDownBlue.svg') center center no-repeat;
            border: none;
            right: 12px;
            margin-top: -2px;
        }

        &:before {
            display: none;
        }

        .current {
            display: block;
            width: calc(100% - 15px);
            font-family: 'GT Pressura Mono' !important;
            font-weight: normal !important;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .list {
            width: 100%;
            margin-top: 0 !important;
            @include border-radius(0,0,0,0);

            .option {
                height: 35px;
                min-height: 35px;
                line-height: 35px;
                padding: 0 10px;
                font-family: 'GT Pressura Mono' !important;
                font-weight: normal !important;
                background: #eff8fb !important;
                border-bottom: 1px solid #6db5c4;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .option.focus,
            .option.selected.focus,
            .option:hover {
                color: #000;
                background: #d8f0f6 !important;
            }

            .option:hover {
                background: #d8f0f6 !important;
            }
        }

        .list:hover .option:not(:hover) {
            background: #eff8fb !important;
        }
    }

    .shortcode_header {
        margin-bottom: 20px;
    }

    .posts {
        opacity: 1;
        @include transition(opacity, 1s, cubic-bezier(.12, .49, 0, 1), 0s);

        .post {
            margin-bottom: 25px;
            position: relative;

            .date {
                font-family: 'GT Pressura Mono';
                font-weight: normal;
                color: #9A9A9A;
                margin-bottom: 5px;
            }

            .title {
                display: inline-block;
                font-family: 'Sofia Pro';
                font-weight: bold;
                color: #000;
                margin-bottom: 5px;
                padding-right: 85px;
                cursor: pointer;
            }

            .excerpt,
            .readmore {
                font-family: 'Sofia Pro';
                font-weight: 300;
                color: #9A9A9A;
                padding-right: 85px;
            }

            .readmore {
                display: inline-block;
                text-decoration: underline;
                @include transition(color, .5s, cubic-bezier(.12, .49, 0, 1), 0s);
                cursor: pointer;
            }

            .readmore:hover {
                color: #21955F;
            }

            .arrow {
                position: absolute;
                top: 50%;
                right: 15px;
                @include transform(translateY(-50%));
                line-height: 0;
                cursor: pointer;

                svg * {
                    stroke: #9A9A9A;
                }
            }

            .arrow:hover {
                svg * {
                    stroke: #21955F;
                }
            }
        }

        .post:last-child {
            margin-bottom: 0;
        }
    }
    .posts.load {
        opacity: .1;
    }
}

.widget-block_texts_and_backgrounds .text .shortcode_feedcategory .nice-select {
    font-family: 'GT Pressura Mono' !important;
    font-weight: normal !important;
}
/* ======================================== */
/* 5.4. Shortcode - shortcode_feedcategoryall  */
/* ======================================== */
.shortcode_feedcategoryall {

    .links {
        display: none;
        margin-bottom: 25px;

        a {
            display: block;
            height: 50px;
            line-height: 50px;
            background: #D9F1E3;
            border-bottom: 2px solid #fff;
            font-family: 'GT Pressura Mono';
            font-weight: normal;
            color: #000;
            padding: 0 10px;
            @include transition(color, .5s, cubic-bezier(.12, .49, 0, 1), 0s);
        }

        a:hover {
            background: #c7e3d3;
        }
    }

    .filter {
        margin-bottom: 2px;

        .title {
            display: block;
            height: 50px;
            line-height: 50px;
            font-family: 'GT Pressura Mono';
            font-weight: normal;
            color: #000;
            background: #d8f0f6;
            border-bottom: 2px solid #d8f0f6;
            padding: 0 10px;
            @include box-sizing();
        }
        a.title {
            cursor: pointer;
        }
        a.title:hover {
            background: #cbe4ea;
        }

        &.active .title {
            border-bottom: 2px solid #298da4;
        }

        .select_category {
            width: 70%;
            height: 50px;
            float: left;
            border-right: 1px solid #87c5d1;
        }

        .select_year {
            width: 30%;
            height: 50px;
            float: left;
        }

        .clear {
            clear: both;
        }
    }
    .filter.last {
        margin-bottom: 25px;
    }

    .nice-select {
        display: inline-block !important;
        width: 100%;
        height: 50px;
        line-height: 50px;
        border: none;
        float: none;
        padding: 0 10px;
        background: #eff8fb;
        @include border-radius(0,0,0,0);

        &:after {
            width: 12px;
            height: 7px;
            background: url('../img/arrowDownBlue.svg') center center no-repeat;
            border: none;
            right: 12px;
            margin-top: -2px;
        }

        &:before {
            display: none;
        }

        .current {
            display: block;
            width: calc(100% - 15px);
            font-family: 'GT Pressura Mono' !important;
            font-weight: normal !important;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .list {
            width: 100%;
            margin-top: 0 !important;
            @include border-radius(0,0,0,0);

            .option {
                height: 35px;
                min-height: 35px;
                line-height: 35px;
                padding: 0 10px;
                font-family: 'GT Pressura Mono' !important;
                font-weight: normal !important;
                background: #eff8fb !important;
                border-bottom: 1px solid #6db5c4;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .option.focus,
            .option.selected.focus,
            .option:hover {
                color: #000;
                background: #d8f0f6 !important;
            }

            .option:hover {
                background: #d8f0f6 !important;
            }
        }

        .list:hover .option:not(:hover) {
            background: #eff8fb !important;
        }
    }

    .shortcode_header {
        margin-bottom: 20px;
    }

    .posts {
        opacity: 1;
        @include transition(opacity, 1s, cubic-bezier(.12, .49, 0, 1), 0s);

        .post {
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: -moz-box;
            display: flex;
            -ms-flex-wrap: wrap;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-bottom: 25px;
            position: relative;

            .col-first {
                width: calc(100% - 120px);
                padding-right: 8%;
                position: relative;
            }

            .col-second {
                width: 120px;
                position: relative;
                text-align: right;
                padding: 30px 0 0;
            }

            .date {
                font-family: 'GT Pressura Mono';
                font-weight: normal;
                color: #9A9A9A;
                margin-bottom: 5px;
            }

            .title {
                display: inline-block;
                font-family: 'Sofia Pro';
                font-weight: bold;
                color: #000;
                margin-bottom: 5px;
                cursor: pointer;
            }

            .excerpt,
            .readmore {
                font-family: 'Sofia Pro';
                font-weight: 300;
                color: #9A9A9A;
                padding-right: 85px;
            }

            .readmore {
                display: inline-block;
                text-decoration: underline;
                @include transition(color, .5s, cubic-bezier(.12, .49, 0, 1), 0s);
                cursor: pointer;
            }

            .readmore:hover {
                color: #21955F;
            }

            .arrow,
            .download {
                line-height: 0;
                cursor: pointer;
                margin: 0 5px;
                text-decoration: none;

                svg * {
                    stroke: #9A9A9A;
                }
            }

            .arrow:hover,
            .download:hover {
                svg * {
                    stroke: #21955F;
                }
            }
        }

        .post:last-child {
            margin-bottom: 0;
        }
    }
    .posts.load {
        opacity: .1;
    }

    .posts.hide,
    .contents.hide {
        display: none;
    }
}

body[data-device="computer"] .shortcode_feedcategoryall .links.forPc,
body[data-device="tablet"] .shortcode_feedcategoryall .links.forTablet,
body[data-device="phone"] .shortcode_feedcategoryall .links.forPhone {
    display: block;
}




.widget-block_texts_and_backgrounds .text .shortcode_feedcategoryall .nice-select {
    font-family: 'GT Pressura Mono' !important;
    font-weight: normal !important;
}
/* ======================================== */
/* 5.4. Shortcode - shortcode_meetings  */
/* ======================================== */
.shortcode_meetings {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .nav_container {
        margin-bottom: 50px;

        .arrow {
            display: block;
            width: 32px;
            height: 32px;
            background: #ebebeb;
            cursor: pointer;
            position: relative;

            &.prev {
                float: left;
            }

            &.next {
                float: right;
            }

            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 1;
                @include transform(translateX(-50%) translateY(-50%));

                * {
                    stroke: #9A9A9A;
                    @include transition(stroke, .35s, cubic-bezier(.12, .49, 0, 1), 0s);
                }
            }
        }

        .arrow:hover {
            svg * {
                stroke: #21955F;
            }
        }

        .nav {
            width: calc(100% - 70px);
            height: 32px;
            line-height: 32px;
            margin: 0 auto;
            overflow: hidden;
            position: relative;

            .scroll {
                width: 2000px;
                position: absolute;
                left: 0;
                @include transition(left, .5s, cubic-bezier(.12, .49, 0, 1), 0s);

                a {
                    display: block;
                    width: 100px;
                    height: 32px;
                    line-height: 32px;
                    font-family: 'GT Pressura Mono';
                    font-weight: normal;
                    text-align: center;
                    color: #9c9c9c;
                    float: left;
                    background: #ebebeb;
                    cursor: pointer;
                    margin: 0 2px 0 0;
                    @include box-sizing();
                    @include transition(background, .35s, cubic-bezier(.12, .49, 0, 1), 0s);
                }

                a.active,
                a:hover {
                    color: #000;
                    border-left: 1px solid #a0a0a0;
                    border-right: 1px solid #a0a0a0;
                    border-top: 1px solid #a0a0a0;
                    background: #fff;
                    position: relative;
                    z-index: 2;
                }

                .line {
                    width: 100%;
                    height: 1px;
                    background: #a0a0a0;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 1;
                }
            }
        }
    }

    .meetings_container {
        position: relative;

        .meet_container {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
						pointer-events: none;
            @include transition(background, 1s, cubic-bezier(.12, .49, 0, 1), 0s);

            .meet {
                position: relative;
                margin-bottom: 40px;

                .title {
                    font-family: 'Sofia Pro';
                    font-weight: bold;
                    color: #000;
                    padding-right: 60px;
                }

                .info {
                    font-family: 'GT Pressura Mono';
                    font-weight: normal;
                    color: #9A9A9A;
                    text-transform: uppercase;
                }

                .arrow {
                    position: absolute;
                    top: 50%;
                    right: 15px;
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                    line-height: 0;
                    cursor: pointer;

                    svg * {
                        stroke: #9A9A9A;
                    }

                    &:hover svg * {
                        stroke: #9A9A9A;
                    }
                }
            }
        }

        .meet_container.active {
            opacity: 1;
						pointer-events: all;
        }
    }
}
/* ======================================== */
/* 5.4. Shortcode - shortcode_financialcalendar  */
/* ======================================== */
.shortcode_financialcalendar {
    .shortcode_header {
        margin-bottom: 60px;
    }

    .events {
        .event {
            margin-bottom: 30px;

            .date {
                font-family: 'GT Pressura Mono';
                font-weight: normal;
                color: #9A9A9A;
                margin-bottom: 5px;
            }

            .title {
                display: inline-block;
                font-family: 'Sofia Pro';
                font-weight: bold;
                color: #000;
                margin-bottom: 5px;
                padding-right: 85px;
            }
        }

        .event:last-child {
            margin-bottom: 0;
        }
    }
}
/* ======================================== */
/* 5.4. Shortcode - shortcode_contact  */
/* ======================================== */
.shortcode_contact {
    .name {
        font-family: 'Sofia Pro' !important;
        font-weight: normal !important;
        color: #000;
        margin-bottom: 10px;
    }

    .email,
    .phone {
        display: table;
        line-height: 30px;
        padding: 0 0 0 40px;
        position: relative;
        font-family: 'GT Pressura Mono' !important;
        font-weight: normal !important;
        color: #6E6E6E;
        cursor: pointer;
        @include transition(color, .5s, cubic-bezier(.12, .49, 0, 1), 0s);

        .icon {
            height: 19px;
            position: absolute;
            top: 50%;
            left: 0;
            @include transform(translateY(-50%));

            svg * {
                stroke: #6E6E6E;
                @include transition(stroke, .5s, cubic-bezier(.12, .49, 0, 1), 0s);
            }
        }
    }

    .email:hover,
    .phone:hover {
        color: #21955F;

        .icon {
            svg * {
                stroke: #21955F;
            }
        }
    }
}
/* ======================================== */
/* 5.4. Shortcode - shortcode_files  */
/* ======================================== */
.shortcode_files {
    .item {
        width: 100%;
        max-width: 570px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 2px;
        position: relative;
        background: #fff;
        padding: 20px;

        .col-first {
            width: calc(100% - 120px);
            padding-right: 8%;
            position: relative;
        }

        .col-second {
            width: 120px;
            position: relative;
            text-align: right;
            padding: 15px 0 0;
        }

        .date {
            font-family: 'GT Pressura Mono';
            font-weight: normal;
            color: #9A9A9A;
            margin-bottom: 5px;
        }

        .title {
            display: inline-block;
            font-family: 'Sofia Pro';
            font-weight: bold;
            color: #000;
            margin-bottom: 5px;
            cursor: pointer;
        }

        .title:hover {
            color: #21955F;
        }

        .arrow,
        .download {
            line-height: 0;
            cursor: pointer;
            margin: 0 5px;
            text-decoration: none;

            svg * {
                stroke: #9A9A9A;
            }
        }

        .arrow:hover,
        .download:hover {
            svg * {
                stroke: #21955F;
            }
        }
    }

    .item:last-child {
        margin-bottom: 0;
    }
}

.shortcode_pagesdisplay .shortcode_files .item {
    padding: 20px 0;
}

/* ======================================== */
/* 5.4. Shortcode - shortcode_people        */
/* ======================================== */
.shortcode_people {
    .people {
        .category {
            font-family: 'GT Pressura Mono';
            font-weight: normal;
            color: #000;
            margin-bottom: 30px;
        }

        .list {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin: 0 -15px 30px;

            .person {
                margin: 0 15px 30px;

                .photo {
                    width: 100%;
                    height: 200px;
                    background-size: cover;
                    background-position: top center;
                }

                .desc {
                    padding: 20px;
                    background: #fff;

                    .title {
                        font-family: 'Sofia Pro';
                        font-weight: bold;
                        color: #000;
                    }

                    .description {
                        font-family: 'Sofia Pro';
                        font-weight: 300;
                        color: #9A9A9A;
                        padding-bottom: 60px;
                    }
                }
            }
        }
    }
}

.shortcode_people[data-size="1"] {
    .people {
        .list {
            .person {
                width: calc(100% - 30px);
            }
        }
    }
}

.shortcode_people[data-size="2"] {
    .people {
        .list {
            .person {
                width: calc(50% - 30px);
            }
        }
    }
}

.shortcode_people[data-size="3"] {
    .people {
        .list {
            .person {
                width: calc(33.333% - 30px);
            }
        }
    }
}

/* ======================================== */
/* 5.4. Shortcode - shortcode_sitemap  */
/* ======================================== */
.shortcode_sitemap {

    .link_main {
        display: block;
        font-family: 'Sofia Pro';
        font-weight: bold;
        color: #000 !important;
        text-decoration: underline !important;
        margin-bottom: 20px;
        line-height: 36px;
    }

    .link_sub {
        display: block;
        font-family: 'Sofia Pro';
        font-weight: 300;
        color: #6E6E6E !important;
        text-decoration: underline !important;
        margin-bottom: 5px;
    }
    .link_main:hover,
    .link_sub:hover {
        color: #21955F !important;;
    }

    .link_group {
        margin-bottom: 30px;
    }

}

/* ================== */
/* IPAD screen style */
/* ================== */
body[data-deviceglobal="tablet"] {
    header .more .search .container-input {
        width: calc(100% - 50px);
    }

    header.hover {
        height: auto;

        .more {
            z-index: 99999;
        }
    }
}
/* ================== */
/* SM screen style */
/* ================== */
@media (max-width: 992px) {
    body {
        padding: 60px 0 0;
    }

    body.frozen {
        overflow: hidden;
        height: 100vh;
    }

    header {
        background: #000;
        height: 60px;
        line-height: 60px;

        .less {
            height: 60px;
            line-height: 60px;

            .logo {
                line-height: 60px;
            }

            .c-hamburger {
                display: block;
                top: 10px;
            }

            .extra,
            .links {
                display: none;
            }
        }

        .more {
            display: none;
        }
    }

    header.is-active {
        height: 100%;
        z-index: 9999;

        .links {
            ul li {
                float: none;
                padding: 0;
            }
        }

        .less {
            background: #000;
            height: auto;

            .logo {
                width: 100%;
                float: none;
            }

            .extra {
                display: inline-block;
                position: absolute;
                top: 0;
                left: initial;
                right: 60px;
                text-align: right;

                .bt-language a,
                .bt-search,
                .link {
                    margin: 0 0 0 20px;
                }

                .bt-search {
                    display: none;
                }
            }

            .links {
                display: none;
                height: auto;
                line-height: 25px;
                float: none;
                background: #000;
            }
        }

        .more {
            display: block !important;
            height: 100vh !important;
            overflow-y: scroll;
            visibility: visible !important;
            background: #000;
            pointer-events: all;
            position: absolute;
            top: 0;
            padding: 50px 0 20px;

            .mask {
                display: none;
            }

            .container {
                height: auto !important;
            }

            .links,
            .search {
                float: none;

                * {
                    opacity: 1 !important;
                }
            }

            .search {
                width: 100%;
                margin-bottom: 30px;

                .container-input {
                    width: calc(100% - 60px);
                }
            }

            .links {
                li {
                    width: 100% !important;

                    a {
                        visibility: visible !important;
                    }

                    ul {
                        width: 100% !important;
                        position: relative;

                        li {
                            margin-bottom: 20px;

                            a {
                                width: 50%;
                                float: left;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                padding-right: 20px;
                            }

                            .clear {
                                clear: both;
                            }
                        }
                    }
                }
            }
        }

        .socials {
            height: 20px;
            opacity: 1;
            position: relative;
            bottom: initial;
            margin-top: 20px;
        }
    }

    footer .footer .backtotop {
        right: 10px;
    }

    .shortcode_stockexchange {
        width: 250px;
    }

    .shortcode_feedcategory {
        .filter {
            margin-bottom: 70px;

            .select_category,
            .select_year {
                height: 50px;
            }
        }
    }

    .shortcode_financialcalendar {
        .shortcode_header {
            margin-bottom: 30px;
        }
    }

    .shortcode_feedcategoryall {
        .links {
            margin: 40px 0;
        }

        .posts .post {
            .excerpt,
            .readmore {
                padding-right: 0;
            }
        }
    }


    .shortcode_pagesdisplay {
        .links {
            margin-bottom: 30px;
        }

        .top {
            padding: 30px 0 60px;
        }

        .pages {
            padding: 30px 0 0;

            .col {
                padding-bottom: 10px;
            }
        }

        .content {
            p {
                line-height: 25px;
            }
        }
    }

    .shortcode_people {
        .people {
            .list {
                margin: 0 -15px 30px;

                .person {
                    margin: 0 15px 15px;

                    .desc .description {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }

    .shortcode_sitemap {
        .link_group {
            margin-bottom: 15px;
        }
        .link_main {
            margin-bottom: 10px;
        }
    }
}
/* ================== */
/* XS screen style */
/* ================== */
@media (max-width: 767px) {
    body {
        padding: 40px 0 0;
    }

    header {
        background: #000;
        height: 40px;
        line-height: 40px;

        .less {
            height: 40px;
            line-height: 40px;

            .logo {
                line-height: 40px;
            }

            .c-hamburger {
                top: 0;
            }

            .extra,
            .links {
                display: none;
            }
        }

        .more {
            display: none;
        }
    }

    header.is-active {
        .less {
            width: 100%;
            position: fixed;
            z-index: 1000;
        }
        .more {
            width: 100%;
            height: 100% !important;
            position: fixed;
            z-index: 999;
        }
    }

    footer {
        .our_brands {
            padding: 20px 0;

            .header {
                margin-bottom: 0;
            }
        }

        .footer {
            padding: 20px 0;

            .backtotop {
                top: 30px;
                right: 40px;
            }

            .links {
                .cl-half {
                    width: 100%;
                    float: left;

                    a {
                        font-size: 13px;
                    }
                }
                .clear {
                    clear: both;
                }
            }

            .socials {
                padding: 20px 0;
            }
        }
    }

    .shortcode_cision_feed1 {
        .posts .post {
            .title {
                padding-right: 50px;
            }
        }
    }

    .shortcode_stockexchange {
        width: 230px;
    }

    .shortcode_scientificreports {
        .col-first,
        .col-second {
            width: 100%;
        }

        .col-second {
            padding-right: 40px;
        }

        .post {
            margin-bottom: 40px;

            .download {
                top: 20px;
            }
        }
    }
}
@media (min-width: 1400px) {
    body {
        padding-top: 80px;
    }

    .container {
        max-width: 1300px;
    }

    header {
        height: 80px;

        .less {
            height: 80px;

            .logo {
                line-height: 80px;
            }

            .links {
                line-height: 80px;
            }
        }
    }
}
@media (min-width: 1500px) {
    body {
        padding-top: 85px;
    }

    .container {
        max-width: 1400px;
    }

    header {
        height: 85px;

        .less {
            height: 85px;

            .logo {
                line-height: 85px;
            }

            .links {
                line-height: 85px;
            }
        }
    }
}
@media (min-width: 1600px) {
    .container {
        max-width: 1500px;
    }
}
@media (min-width: 1700px) {
    .container {
        max-width: 1550px;
    }
}
@media (min-width: 1800px) {
    .container {
        max-width: 1600px;
    }
}
@media (min-width: 1900px) {
    .container {
        max-width: 1700px;
    }
}
@media (min-width: 2000px) {
    .container {
        max-width: 1800px;
    }
}
