@import "../../../../../scss/mixin";

.widget-top {
    .container-background {
        overflow: hidden;
        background: #000;

        .background {
            width: 100%;
            min-height: 350px;
            height: calc(25vw);
            background-size: cover;
            background-position: center center;
            transform: translateY(0%);
        }
    }


    .content {
        font-family: 'Sofia Pro';
        color: #EBEBEB;
        background: #000;
        padding: 40px 0 130px;

        .text1 {
            font-weight: bold;
        }

        .text2 {
            font-weight: 500;
        }
    }
    .content.background_none {
        border-top: 1px solid #353535;
    }

    .readmore {
        font-family: 'GT Pressura Mono';
        font-weight: normal;
        color: #9A9A9A !important;
        text-decoration: underline !important;
        text-align: right;
        float: right;
        cursor: pointer;
        @include transition(color, .35s, ease-in, 0s);

        svg {
            position: relative;
            top: 2px;
            margin-left: 15px;

            * {
                stroke: #9A9A9A;
                @include transition(stroke, .35s, ease-in, 0s);
            }
        }
    }
    .readmore:hover {
        color: #21955F !important;

        svg {
            * {
                stroke: #21955F;
            }
        }
    }
}



@media (max-width: 767px) {
    .widget-top {
        .container-background {
            .background {
                min-height: 200px;
            }
        }
        .content {
            padding: 20px 0 60px;

            .text1,
            .text2 {
                margin-bottom: 20px;

                p {
                    margin: 0;
                }
            }
        }
    }
}
