.widget-top .container-background {
  overflow: hidden;
  background: #000;
}

.widget-top .container-background .background {
  width: 100%;
  min-height: 350px;
  height: -webkit-calc(25vw);
  height: -moz-calc(25vw);
  height: calc(25vw);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}

.widget-top .content {
  font-family: 'Sofia Pro';
  color: #EBEBEB;
  background: #000;
  padding: 40px 0 130px;
}

.widget-top .content .text1 {
  font-weight: bold;
}

.widget-top .content .text2 {
  font-weight: 500;
}

.widget-top .readmore {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #9A9A9A !important;
  text-decoration: underline !important;
  text-align: right;
  float: right;
  cursor: pointer;
  -webkit-transition: color 0.35s ease-in 0s;
  -moz-transition: color 0.35s ease-in 0s;
  -o-transition: color 0.35s ease-in 0s;
  transition: color 0.35s ease-in 0s;
}

.widget-top .readmore svg {
  position: relative;
  top: 2px;
  margin-left: 15px;
}

.widget-top .readmore svg * {
  stroke: #9A9A9A;
  -webkit-transition: stroke 0.35s ease-in 0s;
  -moz-transition: stroke 0.35s ease-in 0s;
  -o-transition: stroke 0.35s ease-in 0s;
  transition: stroke 0.35s ease-in 0s;
}

.widget-top .readmore:hover {
  color: #21955F !important;
}

.widget-top .readmore:hover svg * {
  stroke: #21955F;
}

@media (max-width: 767px) {
  .widget-top .container-background .background {
    min-height: 200px;
  }
  .widget-top .content {
    padding: 20px 0 60px;
  }
  .widget-top .content .text1,
  .widget-top .content .text2 {
    margin-bottom: 20px;
  }
  .widget-top .content .text1 p,
  .widget-top .content .text2 p {
    margin: 0;
  }
}
