@import "../../../../../scss/mixin";

.widget-pages {
	padding: 50px 0;

	.top {
		background: #000;
		border-top: 1px solid #353535;
		padding: 40px 0 170px;

		.header {
			font-family: 'Sofia Pro';
			font-weight: bold;
			color: #fff;
		}
	}

	.links {
		a {
			display: block;
			line-height: 20px;
			background: #D8EFF6;
			font-family: 'GT Pressura Mono';
			font-weight: normal;
			color: #000;
			padding: 13px 10px;
			margin-bottom: 2px;
			@include box-sizing();
			@include transition(color, 0.5s, cubic-bezier(.12, .49, 0, 1), 0s);
		}

		a.active,
		a:hover {
			background: #D8EFF6;
		}

		a.active {
			border-bottom: 2px solid #2a8ea4;
		}
	}

	.title_page {
		font-family: 'Sofia Pro' !important;
		font-weight: bold !important;
		color: #000;
		margin-bottom: 50px;
	}

	.pages {
		padding: 50px 0 0;

		.col {
			padding-bottom: 50px;
		}
	}

	.content {
		font-family: 'Sofia Pro' !important;
		font-weight: 300 !important;
		color: #6E6E6E;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-weight: bold !important;
			color: #000;
		}

		p {
			line-height: 28px;
		}

		a {
			color: #9A9A9A;
			text-decoration: underline;
		}

		a:hover {
			color: #21955F;
		}

		ul {
			padding: 0 15px;
		}

		table {
			width: 100%;
			margin-bottom: 30px;
			font-family: 'Sofia Pro' !important;
			font-weight: 300 !important;

			tr {
				td {
					padding: 10px;
					border-right: 1px solid #298DA6;
					color: #6E6E6E;
				}

				td:last-child {
					border-right: 0;
				}
			}

			tr:nth-child(2n) {
				td {
					background: #D8EFF6;
				}
			}

			tr:first-child {
				border: 1px solid #298DA6;
			}

			tr:last-child {
				border-bottom: 1px solid #298DA6;
			}
		}

		em {
			font-family: 'GT Pressura Mono';
			font-weight: normal;
			font-style: normal;
		}
	}
}
@media (max-width: 996px) {
	.widget-pages {
		.col-menu {
			margin-bottom: 50px;
		}

	}
}
