@import "../../../../../scss/mixin";

.widget-subscribe {
    padding: 60px 0;
    background: #ebebeb;

    .header {
        font-family: 'Sofia Pro';
        font-weight: bold;
        color: #000000;
        margin-bottom: 90px;
    }

    form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;

        .col-full {
            width: 100%;
            padding: 0 25px;
            @include box-sizing();
        }

        .col-half {
            width: 50%;
            padding: 0 25px;
            @include box-sizing();
        }

        div.label,
        label {
            width: 100%;
            margin: 0 0 10px;

            .text {
                font-family: 'GT Pressura Mono';
                font-weight: normal;
                color: #9A9A9A;
                line-height: 35px;
                @include box-sizing();
            }

            p {
                margin: 0;
                line-height: normal;
            }

            .width-full {
                width: 100%;
            }

            .width-medium {
                width: 90%;
            }

            .width-short {
                width: 80%;
            }
        }

        input,
        textarea {
            font-family: 'Sofia Pro';
            font-weight: normal;
            font-size: 18px;
            color: #000000;
        }

        .nice-select {
            display: inline-block !important;
            width: 100%;
            height: 35px;
            line-height: 35px;
            font-family: 'GT Pressura Mono';
            font-weight: normal;
            float: none;
            @include border-radius(0,0,0,0);

            .list {
                width: 100%;
                margin-top: 0 !important;
                @include border-radius(0,0,0,0);

                .option {
                    height: 35px;
                    line-height: 35px;
                    background: #d7f1e4 !important;
                    border-bottom: 1px solid #009463;
                }

                .option.focus,
                .option.selected.focus,
                .option:hover {
                    background: #b5d3c4;
                }
            }

            .list:hover .option:not(:hover) {
                background: #d7f1e4;
            }
        }

        input[type="email"],
        input[type="text"] {
            height: 35px;
            line-height: 35px;
            background: #fff;
            border: none;
            padding: 0 8px;
        }

        textarea {
            height: 120px;
            padding: 8px;
        }

        input[type="submit"] {
            display: inline-block;
            width: 170px;
            height: 50px;
            line-height: 50px;
            background: #000;
            border: none;
            font-family: 'GT Pressura Mono';
            font-weight: normal;
            font-size: 15px;
            color: #7E7E7E;
            text-decoration: underline;
            text-align: left;
            padding: 0 20px;
            margin-top: 20px;
            cursor: pointer;
            @include transition(color, .35s, cubic-bezier(.12, .49, 0, 1), 0s);
        }

        input[type="submit"]:hover {
            color: #21955F;
        }

        .wpcf7-list-item {
            display: block;
            line-height: 35px;
            margin: 0;
            position: relative;

            input[type=checkbox] {
                opacity: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                cursor: pointer;
            }

            .wpcf7-list-item-label {
                font-family: 'Sofia Pro';
                font-weight: normal;
                font-size: 18px;
                color: #000000;
                position: relative;
                padding-left: 35px;

                a {
                    color: #000;
                    text-decoration: underline;
                }
            }

            .wpcf7-list-item-label::before {
                content: "";
                display: block;
                position: absolute;
                width: 22px;
                height: 22px;
                left: 0;
                top: 50%;
                margin-top: -3px;
                background-color: #fff;
                outline: none !important;
                cursor: pointer;
                @include transform(translateY(-50%));
                @include transition(background-color, .5s, linear, 0s);
            }

            input[type=checkbox]:checked + .wpcf7-list-item-label::before {
                background: url("../../../../../img/checkbox.svg") center center no-repeat #000;
            }
        }

        .wpcf7-list-item.hide-error {
            .wpcf7-not-valid-tip {

            }
        }

        .wpcf7-checkbox.normal {
            .wpcf7-list-item .wpcf7-list-item-label {
                font-family: 'GT Pressura Mono';
                font-weight: normal;
                font-size: 15px;
                color: #9A9A9A;
            }
        }

        .wpcf7-form-control-wrap {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        .wpcf7-not-valid-tip {
            flex-basis: 100%;
            order: -1;
            font-family: 'GT Pressura Mono';
            font-weight: normal;
            font-size: 15px;
            color: #B85454;
            line-height: 30px;
            margin-top: -10px;
            margin-bottom: 0;
        }

        .wpcf7-not-valid-tip.tip-extra {
            display: none;
        }
        .wpcf7-not-valid-tip.tip-extra.add {
            display: block;
        }

        .wpcf7-response-output {
            width: calc(100% - 50px);
            background: #000;
            border: none !important;
            color: #7E7E7E;
            font-family: 'GT Pressura Mono';
            font-weight: normal;
            font-size: 15px;
            line-height: 35px;
            margin: 20px auto 0;
        }

        .ajax-loader {
            width: 32px !important;
            height: 32px !important;
            margin-left: 20px !important;
            background-image: url('../../../../../img/loader_EBEBEB_000000.gif') !important;
        }
    }
}
@media (max-width: 992px) {
    .widget-subscribe {
        form {
            .col-full,
            .col-half {
                width: 100%;
                padding: 0 25px;
                @include box-sizing();
            }

            div.label,
            label {
                .width-full,
                .width-medium,
                .width-short {
                    width: 100%;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .widget-subscribe {
        padding: 20px 0;

        .header {
            margin-bottom: 20px;

            br {
                display: none;
            }
        }

        form {
            display: block;

            .col-full,
            .col-half {
                width: 100%;
                padding: 0 25px;
                @include box-sizing();
            }

            div.label,
            label {
                .width-full,
                .width-medium,
                .width-short {
                    width: 100%;
                }
            }

            .wpcf7-list-item {
                .wpcf7-list-item-label {
                    display: block;
                    width: 100%;
                    line-height: 25px;
                }
            }
        }
    }
}
