@import "../../../../../scss/mixin";

.widget-people {
    background: #EBEBEB;
    padding: 80px 0 0;

    .header {
        margin-bottom: 90px;

        .text1 {
            font-family: 'GT Pressura Mono';
            font-weight: normal;
            color: #000;
        }
        .text2 {
            font-family: 'Sofia Pro';
            font-weight: bold;
            color: #000;
        }
    }



    .people {
        .category {
            font-family: 'GT Pressura Mono';
            font-weight: normal;
            color: #000;
            margin-bottom: 30px;
        }

        .list {
            margin-bottom: 30px;

            .person {
                margin-bottom: 30px;

                .photo {
                    width: 100%;
                    height: 200px;
                    background-size: cover;
                    background-position: top  center;
                }
                .desc {
                    padding: 20px;
                    background: #fff;

                    .title {
                        font-family: 'Sofia Pro';
                        font-weight: bold;
                        color: #000;
                    }
                    .description {
                        font-family: 'Sofia Pro';
                        font-weight: 300;
                        color: #9A9A9A;
                        padding-bottom: 60px;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .widget-people {
        padding: 30px 0 0;

        .header {
            margin-bottom: 20px;

            .text2 {
                padding: 20px 0 0;

                br {
                    display: none;
                }
            }
        }

        .people {
            .list {
                .person {
                    margin-bottom: 15px;
                    
                    .desc {
                        .description {
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
