@import "../../../../../scss/mixin";

.widget-patents {
    .patents {
        .patent {
            border: 1px solid;
            padding: 40px 20px 10px;
            margin-bottom: 30px;
            position: relative;

            .number {
                font-family: 'GT Pressura Mono';
                font-weight: normal;
                color: #298DA6;
                position: absolute;
                top: 10px;
                left: 20px;
            }

            .title {
                font-family: 'Sofia Pro';
                font-weight: bold;
                color: #000;
            }

            .desc {
                font-family: 'Sofia Pro';
                font-weight: normal;
                color: #6E6E6E;
                padding-bottom: 30px;
            }

            .category {
                font-family: 'GT Pressura Mono';
                font-weight: normal;
                color: #298DA6;
                position: absolute;
                bottom: 10px;
                left: 20px;
            }
        }

        .patent[data-cat="patent-granted"] {
            border-color: #298DA6;

            .category,
            .number {
                color: #298DA6;
            }
        }

        .patent[data-cat="patent-pending"] {
            border-color: #6E6E6E;

            .category,
            .number {
                color: #6E6E6E;
            }
        }
    }
}
@media (max-width: 767px) {
    .widget-patents {}
}
