@import "../../../../../scss/mixin";

.widget-blocktextsbackground {
    position: relative;

    .background {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 0;
        z-index: 0;
    }

    .container {
        position: relative;
        z-index: 1;

        .inside {
            height: 100%;
            position: relative;

            .inside_relative {
                height: 100%;
                position: relative;
            }

            .header {
                font-family: 'GT Pressura Mono';
                font-weight: normal;
                color: #000;
            }


            .text * {
                font-family: 'Sofia Pro';
                font-weight: normal;
            }
            .text h1,
            .text h2,
            .text h3,
            .text h4,
            .text h5,
            .text h6,
            .text b,
            .text strong {
                font-weight: bold;
            }
            text p {
                margin-bottom: 30px;
            }
            text p:last-child {
                margin-bottom: 0px;
            }

            .text.centerH {
                top: 50%;
                @include transform(translateY(-50%));
                position: absolute;
            }

            .link {
                display: block;
                width: 270px;
                height: 50px;
                line-height: 50px;
                background: #000;
                font-family: 'GT Pressura Mono';
                font-weight: normal;
                color: #7E7E7E;
                text-decoration: underline;
                padding: 0 20px;
                position: absolute;
                bottom: 0;
                left: 0;
                @include transition(color, .35s, cubic-bezier(.12, .49, 0, 1), 0s);
            }

            .link:hover {
                color: #21955F;
            }
        }
    }
}
/* ================== */
/* SM screen style */
/* ================== */
@media (max-width: 992px) {
    .widget-blocktextsbackground {
        .container {
            .inside {
                .text br {
                    display: none;
                }
            }
        }
    }
}
/* ================== */
/* XS screen style */
/* ================== */
@media (max-width: 767px) {
    .widget-blocktextsbackground {
        .container {
            .inside {
                .text br {
                    display: none;
                }

                .text.centerH {
                    position: relative;
                    top: 0;
                    @include transform(none);
                }

                .inside_relative {
                    height: auto !important;
                }

                .link {
                    position: relative;
                    margin: 20px 0 0;
                }
            }
        }
    }
}
