.widget-products {
  padding: 60px 0;
  background: #EBEBEB;
}

.widget-products .description .header {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #000;
}

.widget-products .description .text {
  font-family: 'Sofia Pro';
  font-weight: bold;
  color: #000;
}

.widget-products .description .text p {
  margin: 0;
}

.widget-products .products {
  padding-top: 60px;
}

.widget-products .products .product {
  text-decoration: none;
}

.widget-products .products .product .photo {
  height: 195px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.widget-products .products .product .desc {
  height: 135px;
  background: #fff;
  padding: 20px;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.widget-products .products .product .desc .title {
  font-family: 'Sofia Pro';
  font-weight: bold;
  color: #000;
  -webkit-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.widget-products .products .product .desc .arrow {
  position: absolute;
  bottom: 15px;
  left: 20px;
}

.widget-products .products .product .desc .arrow svg * {
  stroke: #9A9A9A;
  -webkit-transition: stroke 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: stroke 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: stroke 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: stroke 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.widget-products .products .product:hover .desc .title {
  color: #21955F;
}

.widget-products .products .product:hover .desc .arrow svg * {
  stroke: #21955F;
}

@media (max-width: 767px) {
  .widget-products {
    padding: 20px 0;
  }
  .widget-products .description .header {
    margin-bottom: 20px;
  }
  .widget-products .products {
    padding-top: 20px;
  }
  .widget-products .products .product {
    display: block;
    margin-bottom: 30px;
  }
}
