.widget-toparticle {
  background: #000;
  border-top: 1px solid #353535;
  padding: 20px 0;
}

.widget-toparticle .breadcrump_container {
  margin-bottom: 25px;
}

.widget-toparticle .breadcrump_container a {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #9A9A9A;
  text-decoration: none;
  cursor: pointer;
}

.widget-toparticle .breadcrump_container a .text {
  text-decoration: underline;
}

.widget-toparticle .breadcrump_container a svg * {
  stroke: #9A9A9A;
}

.widget-toparticle .breadcrump_container a:hover {
  color: #21955F;
}

.widget-toparticle .breadcrump_container a:hover svg * {
  stroke: #21955F;
}

.widget-toparticle .title {
  font-family: 'Sofia Pro';
  font-weight: bold;
  color: #fff;
  margin-bottom: 25px;
}

.widget-toparticle .nav a {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #9A9A9A;
  text-decoration: none;
  cursor: pointer;
}

.widget-toparticle .nav a .text {
  text-decoration: underline;
}

.widget-toparticle .nav a svg {
  margin-right: 10px;
}

.widget-toparticle .nav a svg * {
  stroke: #9A9A9A;
}

.widget-toparticle .nav a:hover {
  color: #21955F;
}

.widget-toparticle .nav a:hover svg * {
  stroke: #21955F;
}
