@import "../../../../../scss/mixin";

.widget-contactmap {
    height: 640px;
    padding-top: 50px;
    position: relative;

    #maps {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .header {
        font-family: 'Sofia Pro';
        font-weight: bold;
        color: #EBEBEB;
        margin-bottom: 90px;
    }

    .text {
        font-family: 'GT Pressura Mono';
        font-weight: normal;
        color: #9A9A9A;
    }
}

@media (max-width: 767px) {
    .widget-contactmap {
        height: 400px;
    }
}
