.widget-404 {
  background: #000;
  border-top: 1px solid #353535;
  padding: 50px 0 100px;
}

.widget-404 .title {
  font-family: 'Sofia Pro';
  font-weight: bold;
  color: #fff;
  margin: 50px 0 100px;
}

.widget-404 .nav a {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #9A9A9A;
  text-decoration: none;
  cursor: pointer;
}

.widget-404 .nav a .text {
  text-decoration: underline;
}

.widget-404 .nav a:hover {
  color: #21955F;
}
