/* ================= */
/* 1. General Style  */
/* ================= */
@font-face {
  font-family: 'GT Pressura Mono';
  src: url("../fonts/hinted-GTPressuraMono-Light.eot");
  src: url("../fonts/hinted-GTPressuraMono-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-GTPressuraMono-Light.woff2") format("woff2"), url("../fonts/hinted-GTPressuraMono-Light.woff") format("woff"), url("../fonts/hinted-GTPressuraMono-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GT Pressura Mono';
  src: url("../fonts/hinted-GTPressuraMono-LightItalic.eot");
  src: url("../fonts/hinted-GTPressuraMono-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-GTPressuraMono-LightItalic.woff2") format("woff2"), url("../fonts/hinted-GTPressuraMono-LightItalic.woff") format("woff"), url("../fonts/hinted-GTPressuraMono-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'GT Pressura Mono';
  src: url("../fonts/hinted-GTPressuraMono-RegularItalic.eot");
  src: url("../fonts/hinted-GTPressuraMono-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-GTPressuraMono-RegularItalic.woff2") format("woff2"), url("../fonts/hinted-GTPressuraMono-RegularItalic.woff") format("woff"), url("../fonts/hinted-GTPressuraMono-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'GT Pressura Mono';
  src: url("../fonts/hinted-GTPressuraMono.eot");
  src: url("../fonts/hinted-GTPressuraMono.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-GTPressuraMono.woff2") format("woff2"), url("../fonts/hinted-GTPressuraMono.woff") format("woff"), url("../fonts/hinted-GTPressuraMono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT Pressura Mono';
  src: url("../fonts/hinted-GTPressuraMono-Bold.eot");
  src: url("../fonts/hinted-GTPressuraMono-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-GTPressuraMono-Bold.woff2") format("woff2"), url("../fonts/hinted-GTPressuraMono-Bold.woff") format("woff"), url("../fonts/hinted-GTPressuraMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GT Pressura Mono';
  src: url("../fonts/hinted-GTPressuraMono-BoldItalic.eot");
  src: url("../fonts/hinted-GTPressuraMono-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-GTPressuraMono-BoldItalic.woff2") format("woff2"), url("../fonts/hinted-GTPressuraMono-BoldItalic.woff") format("woff"), url("../fonts/hinted-GTPressuraMono-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url("../fonts/hinted-SofiaProUltraLight.eot");
  src: url("../fonts/hinted-SofiaProUltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-SofiaProUltraLight.woff2") format("woff2"), url("../fonts/hinted-SofiaProUltraLight.woff") format("woff"), url("../fonts/hinted-SofiaProUltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url("../fonts/hinted-SofiaProLight.eot");
  src: url("../fonts/hinted-SofiaProLight.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-SofiaProLight.woff2") format("woff2"), url("../fonts/hinted-SofiaProLight.woff") format("woff"), url("../fonts/hinted-SofiaProLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url("../fonts/hinted-SofiaProExtraLight.eot");
  src: url("../fonts/hinted-SofiaProExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-SofiaProExtraLight.woff2") format("woff2"), url("../fonts/hinted-SofiaProExtraLight.woff") format("woff"), url("../fonts/hinted-SofiaProExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url("../fonts/hinted-SofiaProBold.eot");
  src: url("../fonts/hinted-SofiaProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-SofiaProBold.woff2") format("woff2"), url("../fonts/hinted-SofiaProBold.woff") format("woff"), url("../fonts/hinted-SofiaProBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url("../fonts/hinted-SofiaProRegular.eot");
  src: url("../fonts/hinted-SofiaProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-SofiaProRegular.woff2") format("woff2"), url("../fonts/hinted-SofiaProRegular.woff") format("woff"), url("../fonts/hinted-SofiaProRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url("../fonts/hinted-SofiaProMedium.eot");
  src: url("../fonts/hinted-SofiaProMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-SofiaProMedium.woff2") format("woff2"), url("../fonts/hinted-SofiaProMedium.woff") format("woff"), url("../fonts/hinted-SofiaProMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro Semi';
  src: url("../fonts/hinted-SofiaProSemiBold.eot");
  src: url("../fonts/hinted-SofiaProSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-SofiaProSemiBold.woff2") format("woff2"), url("../fonts/hinted-SofiaProSemiBold.woff") format("woff"), url("../fonts/hinted-SofiaProSemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url("../fonts/hinted-SofiaProBlack.eot");
  src: url("../fonts/hinted-SofiaProBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-SofiaProBlack.woff2") format("woff2"), url("../fonts/hinted-SofiaProBlack.woff") format("woff"), url("../fonts/hinted-SofiaProBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

body {
  overflow-x: hidden;
  font-family: 'Sofia Pro';
  font-weight: normal;
  font-size: 15px;
  padding: 75px 0 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

body.error404 {
  background: #000;
}

*,
a,
button,
input {
  outline: 0 !important;
}

.textwidget h1,
.textwidget h2,
.textwidget h3,
.textwidget h4,
.textwidget h5 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.width100 {
  width: 100%;
}

input,
textarea {
  -webkit-appearance: none !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

/* btn */
.btn {
  -moz-box-shadow: 0 3px 14px -4px rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.btn:active {
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  outline: 0;
}

.btn:hover {
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.btn:focus {
  outline: 0;
}

.btn-file {
  padding-top: 8px;
  padding-bottom: 9px;
}

.transition {
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #b8b8b8 !important;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #b8b8b8 !important;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #b8b8b8 !important;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #b8b8b8 !important;
}

/* content */
.alignleft {
  text-align: left;
}

.alignright {
  text-align: right;
}

.aligncenter {
  text-align: center;
}

img.alignnone {
  display: block;
  max-width: 100%;
  height: auto;
  text-align: center;
  margin-top: 15px;
  padding-bottom: 15px;
}

img.alignleft {
  display: block;
  max-width: 100%;
  height: auto;
  float: left;
  margin-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

img.alignright {
  display: block;
  max-width: 100%;
  height: auto;
  float: right;
  margin-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

img.aligncenter {
  display: block;
  max-width: 100%;
  text-align: center;
  height: auto;
  padding-bottom: 15px;
  margin: 0 auto;
}

.text44 {
  font-size: 44px;
  line-height: 54px;
}

.text38 {
  font-size: 38px;
  line-height: 44px;
}

.text32 {
  font-size: 32px;
  line-height: 41px;
}

.text26 {
  font-size: 26px;
  line-height: 38px;
}

.text24 {
  font-size: 24px;
  line-height: 36px;
}

.text22 {
  font-size: 22px;
  line-height: 28px;
}

.text19 {
  font-size: 19px;
  line-height: 24px;
}

.text15 {
  font-size: 15px;
  line-height: 20px;
}

.text13 {
  font-size: 13px;
  line-height: 18px;
}

.textGray {
  color: #6E6E6E;
}

.textBlack {
  color: #000000;
}

.textPressuraMono {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
}

.textBold {
  font-weight: bold;
}

.textParagraph {
  padding-bottom: 30px;
}

.textParagraph:last-child {
  padding-bottom: 0px;
}

@media (max-width: 992px) {
  .text44 {
    font-size: 44px;
    line-height: 54px;
  }
  .text38 {
    font-size: 34px;
    line-height: 40px;
  }
  .text26 {
    font-size: 23px;
    line-height: 29px;
  }
  .text24 {
    font-size: 21px;
    line-height: 30px;
  }
  .text22 {
    font-size: 20px;
    line-height: 26px;
  }
  .text19 {
    font-size: 17px;
    line-height: 22px;
  }
  .text15 {
    font-size: 14px;
    line-height: 19px;
  }
  .text13 {
    font-size: 13px;
    line-height: 18px;
  }
}

@media (max-width: 767px) {
  .text44 {
    font-size: 44px;
    line-height: 54px;
  }
  .text38 {
    font-size: 30px;
    line-height: 36px;
  }
  .text26 {
    font-size: 20px;
    line-height: 26px;
  }
  .text24 {
    font-size: 19px;
    line-height: 25px;
  }
  .text22 {
    font-size: 17px;
    line-height: 23px;
  }
  .text19 {
    font-size: 15px;
    line-height: 20px;
  }
  .text15 {
    font-size: 13px;
    line-height: 18px;
  }
  .text13 {
    font-size: 12px;
    line-height: 17px;
  }
}

/* ================= */
/* 1.1 Page builder */
/* ================= */
.bg-center {
  background-position: center center !important;
}

.bg-l_u {
  background-position: left top !important;
}

.bg-l_d {
  background-position: left bottom !important;
}

.bg-p_u {
  background-position: right top !important;
}

.bg-p_d {
  background-position: right bottom !important;
}

.bg-c_u {
  background-position: center top !important;
}

.bg-c_d {
  background-position: center bottom !important;
}

.background_norepeat {
  background-repeat: no-repeat !important;
}

.offset-right-12 {
  margin-right: 100%;
}

.offset-right-11 {
  margin-right: 91.66666667%;
}

.offset-right-10 {
  margin-right: 83.33333333%;
}

.offset-right-9 {
  margin-right: 75%;
}

.offset-right-8 {
  margin-right: 66.66666667%;
}

.offset-right-7 {
  margin-right: 58.33333333%;
}

.offset-right-6 {
  margin-right: 50%;
}

.offset-right-5 {
  margin-right: 41.66666667%;
}

.offset-right-4 {
  margin-right: 33.33333333%;
}

.offset-right-3 {
  margin-right: 25%;
}

.offset-right-2 {
  margin-right: 16.66666667%;
}

.offset-right-1 {
  margin-right: 8.33333333%;
}

.offset-right-0 {
  margin-right: 0;
}

@media (min-width: 768px) {
  .offset-right-md-12 {
    margin-right: 100%;
  }
  .offset-right-md-11 {
    margin-right: 91.66666667%;
  }
  .offset-right-md-10 {
    margin-right: 83.33333333%;
  }
  .offset-right-md-9 {
    margin-right: 75%;
  }
  .offset-right-md-8 {
    margin-right: 66.66666667%;
  }
  .offset-right-md-7 {
    margin-right: 58.33333333%;
  }
  .offset-right-md-6 {
    margin-right: 50%;
  }
  .offset-right-md-5 {
    margin-right: 41.66666667%;
  }
  .offset-right-md-4 {
    margin-right: 33.33333333%;
  }
  .offset-right-md-3 {
    margin-right: 25%;
  }
  .offset-right-md-2 {
    margin-right: 16.66666667%;
  }
  .offset-right-md-1 {
    margin-right: 8.33333333%;
  }
  .offset-right-md-0 {
    margin-right: 0;
  }
}

@media (min-width: 992px) {
  .offset-right-lg-12 {
    margin-right: 100%;
  }
  .offset-right-lg-11 {
    margin-right: 91.66666667%;
  }
  .offset-right-lg-10 {
    margin-right: 83.33333333%;
  }
  .offset-right-lg-9 {
    margin-right: 75%;
  }
  .offset-right-lg-8 {
    margin-right: 66.66666667%;
  }
  .offset-right-lg-7 {
    margin-right: 58.33333333%;
  }
  .offset-right-lg-6 {
    margin-right: 50%;
  }
  .offset-right-lg-5 {
    margin-right: 41.66666667%;
  }
  .offset-right-lg-4 {
    margin-right: 33.33333333%;
  }
  .offset-right-lg-3 {
    margin-right: 25%;
  }
  .offset-right-lg-2 {
    margin-right: 16.66666667%;
  }
  .offset-right-lg-1 {
    margin-right: 8.33333333%;
  }
  .offset-right-lg-0 {
    margin-right: 0;
  }
}

/* ================= */
/* 1.2 Grid */
/* ================= */
#loader {
  width: 100vw;
  height: 100vh;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  background: transparent;
  -webkit-transition: background 0.5s linear 0s;
  -moz-transition: background 0.5s linear 0s;
  -o-transition: background 0.5s linear 0s;
  transition: background 0.5s linear 0s;
}

#loader .logo {
  width: 200px;
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 1;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: opacity 0.5s linear 0s;
  -moz-transition: opacity 0.5s linear 0s;
  -o-transition: opacity 0.5s linear 0s;
  transition: opacity 0.5s linear 0s;
}

#loader .boxs {
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#loader .boxs .box {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: #000;
  -webkit-box-shadow: 0 0 200px 30px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 200px 30px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 200px 30px rgba(0, 0, 0, 0.35);
  -webkit-transition: margin 0.75s ease-in 0s, background 1s linear 0s;
  -moz-transition: margin 0.75s ease-in 0s, background 1s linear 0s;
  -o-transition: margin 0.75s ease-in 0s, background 1s linear 0s;
  transition: margin 0.75s ease-in 0s, background 1s linear 0s;
}

#loader .boxs .box1 {
  top: -50vh;
  left: -50vw;
  background: #000000;
  margin: -50vw 0 0 -50vw;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

#loader .boxs .box2 {
  top: -50vh;
  left: 50vw;
  background: #212121;
  margin: -50vw 0 0 50vw;
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

#loader .boxs .box3 {
  top: 50vh;
  left: -50vw;
  background: #212121;
  margin: 50vw 0 0 -50vw;
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

#loader .boxs .box4 {
  top: 50vh;
  left: 50vw;
  background: #000000;
  margin: 50vw 0 0 50vw;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

#loader.show {
  background: #000000;
  -webkit-transition: background 0.5s linear 0.3s;
  -moz-transition: background 0.5s linear 0.3s;
  -o-transition: background 0.5s linear 0.3s;
  transition: background 0.5s linear 0.3s;
}

#loader.show .logo {
  opacity: 1;
}

#loader.show .boxs .box {
  background: #000000;
  -webkit-transition: margin 0.5s ease-out 0s, background 0.5s linear 0s;
  -moz-transition: margin 0.5s ease-out 0s, background 0.5s linear 0s;
  -o-transition: margin 0.5s ease-out 0s, background 0.5s linear 0s;
  transition: margin 0.5s ease-out 0s, background 0.5s linear 0s;
}

#loader.show .boxs .box1 {
  margin: 0;
}

#loader.show .boxs .box2 {
  margin: 0;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

#loader.show .boxs .box3 {
  margin: 0;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

#loader.show .boxs .box4 {
  margin: 0;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

@media (max-width: 767px) {
  #loader {
    display: none;
  }
}

/* ================= */
/* 2. MENU           */
/* ================= */
header {
  width: 100%;
  height: 75px;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

header .links ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

header .links ul li {
  float: left;
  position: relative;
  padding-left: 50px;
}

header .links ul li a {
  font-family: 'GT Pressura Mono';
  font-size: 15px;
  font-weight: normal;
  color: #EBEBEB;
  white-space: nowrap;
}

header .links ul li ul {
  position: absolute;
  top: 0;
  left: 0;
}

header .links ul li ul li {
  padding-right: 0;
}

header .links ul li ul li a {
  line-height: 32px;
  font-family: 'GT Pressura Mono';
  font-size: 13px;
  font-weight: normal;
  color: #AAAAAA;
  white-space: nowrap;
}

header .less {
  height: 75px;
  background: #000;
  position: relative;
  z-index: 2;
}

header .less .logo {
  display: block;
  float: left;
  line-height: 75px;
}

header .less ._off {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}

header .less .c-hamburger {
  display: none;
  position: absolute;
  top: 0;
  right: 15px;
  overflow: hidden;
  margin: 0 0 0 auto;
  padding: 0;
  width: 40px;
  height: 40px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
  border: none;
  cursor: pointer;
}

header .less .c-hamburger:focus {
  outline: none;
}

header .less .c-hamburger span {
  display: block;
  position: absolute;
  top: 20px;
  left: 5px;
  right: 5px;
  height: 2px;
  background: white;
}

header .less .c-hamburger span::after,
header .less .c-hamburger span::before {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: "";
}

header .less .c-hamburger span::before {
  top: -8px;
}

header .less .c-hamburger span::after {
  bottom: -8px;
}

header .less .c-hamburger--htx span {
  -webkit-transition: background 0s 0.3s;
  -o-transition: background 0s 0.3s;
  -moz-transition: background 0s 0.3s;
  transition: background 0s 0.3s;
}

header .less .c-hamburger--htx span::after,
header .less .c-hamburger--htx span::before {
  -webkit-transition-duration: 0.3s, 0.3s;
  -moz-transition-duration: 0.3s, 0.3s;
  -o-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
  -moz-transition-delay: 0.3s, 0s;
  -o-transition-delay: 0.3s, 0s;
  transition-delay: 0.3s, 0s;
}

header .less .c-hamburger--htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  -o-transition-property: top, -o-transform;
  -moz-transition-property: top, transform, -moz-transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform, -moz-transform, -o-transform;
}

header .less .c-hamburger--htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, -webkit-transform;
  -o-transition-property: bottom, -o-transform;
  -moz-transition-property: bottom, transform, -moz-transform;
  transition-property: bottom, transform;
  transition-property: bottom, transform, -webkit-transform, -moz-transform, -o-transform;
}

header .less .extra {
  position: absolute;
  top: 5px;
  right: 15px;
  z-index: 2;
}

header .less .extra .bt-language,
header .less .extra .bt-search,
header .less .extra .link {
  display: inline-block;
}

header .less .extra .bt-language a,
header .less .extra .bt-search,
header .less .extra .link {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  font-size: 13px;
  text-transform: uppercase;
  color: #9A9A9A;
  margin-left: 30px;
}

header .less .extra .bt-search svg {
  position: relative;
  top: 5px;
}

header .less .extra .bt-search svg * {
  fill: #9A9A9A;
}

header .less .extra .bt-language svg {
  position: relative;
  top: -2px;
}

header .less .links {
  height: 75px;
  line-height: 75px;
  float: right;
}

header .less .links ul li a {
  text-decoration: none;
}

header .less .links ul li a.active,
header .less .links ul li a:hover {
  text-decoration: underline;
}

header .less .links ul li ul {
  display: none;
}

header .more {
  visibility: hidden;
  padding: 15px 0;
  pointer-events: none;
  position: relative;
  z-index: 1;
}

header .more .mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  opacity: 0.5;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: all 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: all 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: all 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

header .more .search {
  width: -webkit-calc(100% / 12 * 3 - 60px);
  width: -moz-calc(100% / 12 * 3 - 60px);
  width: calc(100% / 12 * 3 - 60px);
  float: left;
}

header .more .search .container-input {
  display: inline-block;
  width: -webkit-calc(100% - 35px);
  width: -moz-calc(100% - 35px);
  width: calc(100% - 35px);
  position: relative;
}

header .more .search .container-input input[type="text"] {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-family: 'GT Pressura Mono';
  font-size: 15px;
  font-weight: 300;
  color: #AAAAAA;
  border: none;
  background: none;
}

header .more .search .container-input .line {
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #727272;
}

header .more .search button {
  background: none;
  border: none;
  float: right;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: opacity 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0.2s;
  -moz-transition: opacity 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0.2s;
  -o-transition: opacity 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0.2s;
  transition: opacity 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0.2s;
}

header .more .search button svg * {
  fill: #AAAAAA;
  -webkit-transition: fill 0.35s linear 0s;
  -moz-transition: fill 0.35s linear 0s;
  -o-transition: fill 0.35s linear 0s;
  transition: fill 0.35s linear 0s;
}

header .more .search button:hover svg * {
  fill: #fff;
}

header .more .socials {
  position: absolute;
  bottom: 30px;
  opacity: 0;
  -webkit-transition: opacity 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0.4s;
  -moz-transition: opacity 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0.4s;
  -o-transition: opacity 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0.4s;
  transition: opacity 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0.4s;
}

header .more .links {
  float: right;
}

header .more .links ul > li {
  opacity: 0;
  -webkit-transition: opacity 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0.2s;
  -moz-transition: opacity 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0.2s;
  -o-transition: opacity 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0.2s;
  transition: opacity 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0.2s;
}

header .more .links ul > li + li {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

header .more .links ul > li + li + li {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

header .more .links ul > li + li + li + li {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

header .more .links ul > li + li + li + li + li {
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

header .more .links ul > li + li + li + li + li + li {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

header .more .links ul li.dropdown.hover a {
  color: #fff;
}

header .more .links ul li.dropdown > a {
  visibility: hidden;
}

header .more .links ul li.dropdown a.active,
header .more .links ul li.dropdown a:hover {
  text-decoration: underline;
}

header .more .links ul li.dropdown ul li {
  float: none;
  margin-left: 0;
}

header .more .links ul li.dropdown ul li > a {
  display: block;
  opacity: 1;
}

header .more .links ul li.dropdown.active * {
  color: #fff;
}

header .more .links ul li.dropdown_none > a {
  visibility: hidden;
}

header.hover {
  height: auto;
}

header.hover .more {
  visibility: visible;
  pointer-events: all;
}

header.hover .more .mask {
  opacity: 1;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}

header.hover .more .search .line {
  -webkit-animation: searchLineAnim 0.35s ease both;
  -moz-animation: searchLineAnim 0.35s ease both;
  -o-animation: searchLineAnim 0.35s ease both;
  animation: searchLineAnim 0.35s ease both;
}

@-webkit-keyframes searchLineAnim {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-moz-keyframes searchLineAnim {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-o-keyframes searchLineAnim {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes searchLineAnim {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

header.hover .more .search button {
  opacity: 1;
}

header.hover .more .links ul > li {
  opacity: 1;
}

header.hover .more .socials {
  opacity: 1;
}

header.is-active .less .c-hamburger--htx span {
  background: none;
}

header.is-active .less .c-hamburger--htx span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

header.is-active .less .c-hamburger--htx span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

header.is-active .less .c-hamburger--htx span::after,
header.is-active .less .c-hamburger--htx span::before {
  -webkit-transition-delay: 0s, 0.3s;
  -moz-transition-delay: 0s, 0.3s;
  -o-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s;
}

/* ================= */
/* 3. CONTENT        */
/* ================= */
.animated {
  position: relative;
  top: 100px;
  opacity: 0;
  -webkit-transition: top 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s, opacity 1.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: top 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s, opacity 1.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: top 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s, opacity 1.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: top 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s, opacity 1.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.animated.anim_end {
  top: 0;
  opacity: 1;
}

/* ================= */
/* 4. FOOTER         */
/* ================= */
footer .our_brands {
  background: #212121;
  padding: 70px 0 120px;
  color: #fff;
}

footer .our_brands .header {
  font-family: 'Sofia Pro';
  font-weight: bold;
  color: #EBEBEB;
  margin-bottom: 85px;
}

footer .footer {
  background: #000000;
  padding: 60px 0 25px;
}

footer .footer .container {
  position: relative;
}

footer .footer img.logo {
  padding: 0 !important;
  margin: 0 !important;
}

footer .footer .texts {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #9A9A9A;
}

footer .footer .texts a {
  color: #9A9A9A;
  -webkit-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

footer .footer .texts a:hover {
  color: #21955F;
}

footer .footer .text-align-right {
  text-align: right;
}

footer .footer .links .cl-half {
  display: block;
  width: 50%;
  float: left;
}

footer .footer .links a {
  font-family: 'GT Pressura Mono';
  font-size: 15px;
  font-weight: normal;
  line-height: 27px;
  color: #9A9A9A;
  white-space: nowrap;
  -webkit-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

footer .footer .links a:hover {
  color: #21955F;
}

footer .footer hr {
  width: 100%;
  height: 1px;
  background: #4d4d4d;
  border: none;
  margin: 20px 0;
}

footer .footer .backtotop {
  font-family: 'GT Pressura Mono';
  font-size: 15px;
  font-weight: normal;
  line-height: 27px;
  color: #9A9A9A;
  position: absolute;
  top: -20px;
  z-index: 9;
  right: 0;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  -o-transform-origin: 100% 0;
  transform-origin: 100% 0;
  cursor: pointer;
  -webkit-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

footer .footer .backtotop svg {
  position: relative;
  top: 4px;
  left: 15px;
}

footer .footer .backtotop svg * {
  stroke: #9A9A9A;
  -webkit-transition: stroke 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: stroke 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: stroke 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: stroke 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

footer .footer .backtotop:hover {
  color: #21955F;
  text-decoration: underline;
}

footer .footer .backtotop:hover svg * {
  stroke: #21955F;
}

body.error404 footer .our_brands {
  display: none;
}

@media (max-width: 767px) {
  footer .footer .links {
    margin-bottom: 20px;
  }
  footer .footer .backtotop {
    right: 50px;
  }
}

/* ================= */
/* 5. Shortcode      */
/* ================= */
.shortcode .shortcode_header {
  font-family: 'Sofia Pro' !important;
  font-weight: bold !important;
  color: #000;
}

.shortcode .navigation {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #000;
  margin-top: 20px;
}

.shortcode .navigation .arrows {
  display: block;
  height: 50px;
  padding-left: 20px;
  float: left;
}

.shortcode .navigation .arrows a {
  display: inline-block;
  width: 35px;
  line-height: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.shortcode .navigation .arrows a svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.shortcode .navigation .arrows a svg * {
  stroke: #9A9A9A;
  -webkit-transition: stroke 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: stroke 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: stroke 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: stroke 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.shortcode .navigation .arrows a:hover:not(.off) svg * {
  stroke: #21955F;
}

.shortcode .navigation .arrows a.off {
  opacity: 0.4;
  -webkit-transition: stroke 1s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: stroke 1s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: stroke 1s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: stroke 1s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  cursor: default;
}

.shortcode .navigation .readmore {
  display: block;
  height: 50px;
  line-height: 50px;
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  text-decoration: underline;
  color: #9A9A9A;
  float: left;
  padding-left: 30px;
}

.shortcode .navigation .readmore:hover {
  color: #21955F;
}

.shortcode_scroll {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.shortcode_scroll .items_container {
  overflow: hidden;
  position: relative;
  -webkit-transition: height 2.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: height 2.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: height 2.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: height 2.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.shortcode_scroll .items_container .items {
  width: 100%;
  position: absolute;
  top: 0;
  -webkit-transition: top 2.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: top 2.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: top 2.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: top 2.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.shortcode_scroll .items_container .items .item {
  opacity: 0;
  -webkit-transition: opacity 1.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: opacity 1.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: opacity 1.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: opacity 1.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.shortcode_scroll .items_container .items .item.show {
  opacity: 1;
}

.shortcode_cision_feed1 .posts .post {
  margin-bottom: 25px;
  position: relative;
}

.shortcode_cision_feed1 .posts .post .date {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #9A9A9A;
  margin-bottom: 5px;
}

.shortcode_cision_feed1 .posts .post .title {
  display: inline-block;
  font-family: 'Sofia Pro';
  font-weight: bold;
  color: #000;
  margin-bottom: 5px;
  padding-right: 85px;
  cursor: pointer;
}

.shortcode_cision_feed1 .posts .post .excerpt,
.shortcode_cision_feed1 .posts .post .readmore {
  font-family: 'Sofia Pro';
  font-weight: 300;
  color: #9A9A9A;
  padding-right: 85px;
}

.shortcode_cision_feed1 .posts .post .readmore {
  display: inline-block;
  text-decoration: underline;
  -webkit-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  cursor: pointer;
}

.shortcode_cision_feed1 .posts .post .readmore:hover {
  color: #21955F;
}

.shortcode_cision_feed1 .posts .post .arrow {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  line-height: 0;
  cursor: pointer;
}

.shortcode_cision_feed1 .posts .post .arrow svg * {
  stroke: #9A9A9A;
}

.shortcode_cision_feed1 .posts .post .arrow:hover svg * {
  stroke: #21955F;
}

.shortcode_cision_feed1 .posts .post:last-child {
  margin-bottom: 0;
}

/* ================================== */
/* 5.2. Shortcode - shortcode_events     */
/* ================================== */
.shortcode_events .shortcode_header {
  margin-bottom: 20px;
}

.shortcode_events .events .event {
  margin-bottom: 40px;
}

.shortcode_events .events .event .date {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #9A9A9A;
  margin-bottom: 10px;
}

.shortcode_events .events .event .title {
  font-family: 'Sofia Pro';
  font-weight: bold;
  color: #000;
  margin-bottom: 5px;
}

.shortcode_events .events .event .add-calendar {
  display: block;
  text-decoration: none;
}

.shortcode_events .events .event .add-calendar svg {
  position: relative;
  top: 2px;
  margin-right: 10px;
}

.shortcode_events .events .event .add-calendar svg * {
  fill: #21955F;
}

.shortcode_events .events .event .add-calendar span {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #9A9A9A;
  text-decoration: underline;
  -webkit-transition: color 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: color 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: color 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: color 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.shortcode_events .events .event .add-calendar:hover span {
  color: #21955F;
}

/* ================================== */
/* 5.3. Shortcode - shortcode_scientificreports     */
/* ================================== */
.shortcode_scientificreports .shortcode_header {
  margin-bottom: 20px;
}

.shortcode_scientificreports .col-full {
  width: 100%;
}

.shortcode_scientificreports .col-first {
  width: 60%;
  padding-right: 8%;
  position: relative;
}

.shortcode_scientificreports .col-second {
  width: 40%;
  padding-right: 8%;
  position: relative;
}

.shortcode_scientificreports .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 25px;
  position: relative;
}

.shortcode_scientificreports .post .date {
  font-family: 'GT Pressura Mono' !important;
  font-weight: normal !important;
  color: #9A9A9A;
  margin-bottom: 5px;
}

.shortcode_scientificreports .post .title {
  display: inline-block;
  font-family: 'Sofia Pro' !important;
  font-weight: bold !important;
  color: #000;
  margin-bottom: 5px;
}

.shortcode_scientificreports .post .data {
  font-family: 'GT Pressura Mono' !important;
  font-weight: normal !important;
  color: #9A9A9A;
  margin: 20px 0 0;
}

.shortcode_scientificreports .post .download {
  position: absolute;
  top: 20px;
  right: 0;
  line-height: 0;
  cursor: pointer;
}

.shortcode_scientificreports .post .download svg * {
  stroke: #9A9A9A;
}

.shortcode_scientificreports .post .download:hover svg * {
  stroke: #21955F;
}

.shortcode_scientificreports .post:last-child {
  margin-bottom: 0;
}

/* ======================================== */
/* 5.4. Shortcode - shortcode_stockexchange */
/* ======================================== */
.shortcode_stockexchange {
  width: 270px;
  background: #fff;
  margin: 0 auto;
}

.shortcode_stockexchange .data_main {
  padding: 20px 0;
}

.shortcode_stockexchange .data_main .text1 {
  font-family: 'Sofia Pro' !important;
  font-weight: bold !important;
  color: #000;
  text-align: center;
}

.shortcode_stockexchange .data_main .text2 {
  font-family: 'GT Pressura Mono' !important;
  font-weight: normal !important;
  color: #000;
  text-align: center;
}

.shortcode_stockexchange .data_main .share_price {
  text-align: center;
}

.shortcode_stockexchange .data_main .share_price .actual {
  display: inline-block;
  font-family: 'Sofia Pro' !important;
  font-weight: bold !important;
  color: #000;
  text-align: center;
  position: relative;
  margin: 30px 0;
}

.shortcode_stockexchange .data_main .share_price .actual .currency {
  font-family: 'GT Pressura Mono' !important;
  font-weight: normal !important;
  position: absolute;
  top: -15px;
  left: -30px;
}

.shortcode_stockexchange .data_main .share_price .actual .trend {
  position: absolute;
  top: 7px;
  right: -30px;
}

.shortcode_stockexchange .data_main .share_price .actual .trend svg {
  display: none;
}

.shortcode_stockexchange .data_main .share_price .actual .trend.down svg.down,
.shortcode_stockexchange .data_main .share_price .actual .trend.up svg.up {
  display: block;
}

.shortcode_stockexchange .data_main .share_price .actual .value {
  font-family: 'GT Pressura Mono' !important;
  font-weight: normal !important;
  position: absolute;
  bottom: -15px;
  right: -55px;
  white-space: pre;
  text-align: right;
}

.shortcode_stockexchange .data_param {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #e8f6fa;
  border-bottom: 2px solid #fff;
  padding: 10px 40px;
  cursor: default;
}

.shortcode_stockexchange .data_param .name {
  width: 50%;
  font-family: 'GT Pressura Mono' !important;
  font-weight: normal !important;
  color: #000000;
  text-align: left;
}

.shortcode_stockexchange .data_param .value {
  width: 50%;
  font-family: 'GT Pressura Mono' !important;
  font-weight: normal !important;
  color: #000000;
  text-align: right;
}

.shortcode_stockexchange .data_param:hover {
  background: #dbecf1;
}

.shortcode_stockexchange .readmore {
  display: block;
  height: 50px;
  line-height: 50px;
  font-family: 'GT Pressura Mono' !important;
  font-weight: normal !important;
  color: #9A9A9A;
  text-decoration: underline;
  background: #000000;
  padding: 0 40px;
  cursor: pointer;
  -webkit-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.shortcode_stockexchange .readmore:hover {
  color: #21955F;
}

.shortcode_stockexchange .date {
  height: 65px;
  line-height: 65px;
  font-family: 'GT Pressura Mono' !important;
  font-weight: normal !important;
  color: #9A9A9A;
  text-align: center;
}

/* ======================================== */
/* 5.4. Shortcode - shortcode_feedcategory  */
/* ======================================== */
.shortcode_feedcategory .filter {
  margin-bottom: 2px;
}

.shortcode_feedcategory .filter .title {
  display: block;
  height: 50px;
  line-height: 50px;
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #000;
  background: #d8f0f6;
  border-bottom: 2px solid #d8f0f6;
  padding: 0 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.shortcode_feedcategory .filter.active .title {
  border-bottom: 2px solid #298da4;
}

.shortcode_feedcategory .filter .select_category {
  width: 70%;
  height: 50px;
  float: left;
  border-right: 1px solid #87c5d1;
}

.shortcode_feedcategory .filter .select_year {
  width: 30%;
  height: 50px;
  float: left;
}

.shortcode_feedcategory .filter .clear {
  clear: both;
}

.shortcode_feedcategory .links {
  margin-top: 25px;
}

.shortcode_feedcategory .links a {
  display: block;
  height: 50px;
  line-height: 50px;
  background: #D9F1E3;
  border-bottom: 2px solid #fff;
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #000;
  padding: 0 10px;
  -webkit-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.shortcode_feedcategory .links a:hover {
  background: #c7e3d3;
}

.shortcode_feedcategory .nice-select {
  display: inline-block !important;
  width: 100%;
  height: 50px;
  line-height: 50px;
  border: none;
  float: none;
  padding: 0 10px;
  background: #eff8fb;
  border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
}

.shortcode_feedcategory .nice-select:after {
  width: 12px;
  height: 7px;
  background: url("../img/arrowDownBlue.svg") center center no-repeat;
  border: none;
  right: 12px;
  margin-top: -2px;
}

.shortcode_feedcategory .nice-select:before {
  display: none;
}

.shortcode_feedcategory .nice-select .current {
  display: block;
  width: -webkit-calc(100% - 15px);
  width: -moz-calc(100% - 15px);
  width: calc(100% - 15px);
  font-family: 'GT Pressura Mono' !important;
  font-weight: normal !important;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.shortcode_feedcategory .nice-select .list {
  width: 100%;
  margin-top: 0 !important;
  border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
}

.shortcode_feedcategory .nice-select .list .option {
  height: 35px;
  min-height: 35px;
  line-height: 35px;
  padding: 0 10px;
  font-family: 'GT Pressura Mono' !important;
  font-weight: normal !important;
  background: #eff8fb !important;
  border-bottom: 1px solid #6db5c4;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.shortcode_feedcategory .nice-select .list .option.focus,
.shortcode_feedcategory .nice-select .list .option.selected.focus,
.shortcode_feedcategory .nice-select .list .option:hover {
  color: #000;
  background: #d8f0f6 !important;
}

.shortcode_feedcategory .nice-select .list .option:hover {
  background: #d8f0f6 !important;
}

.shortcode_feedcategory .nice-select .list:hover .option:not(:hover) {
  background: #eff8fb !important;
}

.shortcode_feedcategory .shortcode_header {
  margin-bottom: 20px;
}

.shortcode_feedcategory .posts {
  opacity: 1;
  -webkit-transition: opacity 1s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: opacity 1s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: opacity 1s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: opacity 1s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.shortcode_feedcategory .posts .post {
  margin-bottom: 25px;
  position: relative;
}

.shortcode_feedcategory .posts .post .date {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #9A9A9A;
  margin-bottom: 5px;
}

.shortcode_feedcategory .posts .post .title {
  display: inline-block;
  font-family: 'Sofia Pro';
  font-weight: bold;
  color: #000;
  margin-bottom: 5px;
  padding-right: 85px;
  cursor: pointer;
}

.shortcode_feedcategory .posts .post .excerpt,
.shortcode_feedcategory .posts .post .readmore {
  font-family: 'Sofia Pro';
  font-weight: 300;
  color: #9A9A9A;
  padding-right: 85px;
}

.shortcode_feedcategory .posts .post .readmore {
  display: inline-block;
  text-decoration: underline;
  -webkit-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  cursor: pointer;
}

.shortcode_feedcategory .posts .post .readmore:hover {
  color: #21955F;
}

.shortcode_feedcategory .posts .post .arrow {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  line-height: 0;
  cursor: pointer;
}

.shortcode_feedcategory .posts .post .arrow svg * {
  stroke: #9A9A9A;
}

.shortcode_feedcategory .posts .post .arrow:hover svg * {
  stroke: #21955F;
}

.shortcode_feedcategory .posts .post:last-child {
  margin-bottom: 0;
}

.shortcode_feedcategory .posts.load {
  opacity: .1;
}

.widget-block_texts_and_backgrounds .text .shortcode_feedcategory .nice-select {
  font-family: 'GT Pressura Mono' !important;
  font-weight: normal !important;
}

/* ======================================== */
/* 5.4. Shortcode - shortcode_feedcategoryall  */
/* ======================================== */
.shortcode_feedcategoryall .links {
  display: none;
  margin-bottom: 25px;
}

.shortcode_feedcategoryall .links a {
  display: block;
  height: 50px;
  line-height: 50px;
  background: #D9F1E3;
  border-bottom: 2px solid #fff;
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #000;
  padding: 0 10px;
  -webkit-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.shortcode_feedcategoryall .links a:hover {
  background: #c7e3d3;
}

.shortcode_feedcategoryall .filter {
  margin-bottom: 2px;
}

.shortcode_feedcategoryall .filter .title {
  display: block;
  height: 50px;
  line-height: 50px;
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #000;
  background: #d8f0f6;
  border-bottom: 2px solid #d8f0f6;
  padding: 0 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.shortcode_feedcategoryall .filter a.title {
  cursor: pointer;
}

.shortcode_feedcategoryall .filter a.title:hover {
  background: #cbe4ea;
}

.shortcode_feedcategoryall .filter.active .title {
  border-bottom: 2px solid #298da4;
}

.shortcode_feedcategoryall .filter .select_category {
  width: 70%;
  height: 50px;
  float: left;
  border-right: 1px solid #87c5d1;
}

.shortcode_feedcategoryall .filter .select_year {
  width: 30%;
  height: 50px;
  float: left;
}

.shortcode_feedcategoryall .filter .clear {
  clear: both;
}

.shortcode_feedcategoryall .filter.last {
  margin-bottom: 25px;
}

.shortcode_feedcategoryall .nice-select {
  display: inline-block !important;
  width: 100%;
  height: 50px;
  line-height: 50px;
  border: none;
  float: none;
  padding: 0 10px;
  background: #eff8fb;
  border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
}

.shortcode_feedcategoryall .nice-select:after {
  width: 12px;
  height: 7px;
  background: url("../img/arrowDownBlue.svg") center center no-repeat;
  border: none;
  right: 12px;
  margin-top: -2px;
}

.shortcode_feedcategoryall .nice-select:before {
  display: none;
}

.shortcode_feedcategoryall .nice-select .current {
  display: block;
  width: -webkit-calc(100% - 15px);
  width: -moz-calc(100% - 15px);
  width: calc(100% - 15px);
  font-family: 'GT Pressura Mono' !important;
  font-weight: normal !important;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.shortcode_feedcategoryall .nice-select .list {
  width: 100%;
  margin-top: 0 !important;
  border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
}

.shortcode_feedcategoryall .nice-select .list .option {
  height: 35px;
  min-height: 35px;
  line-height: 35px;
  padding: 0 10px;
  font-family: 'GT Pressura Mono' !important;
  font-weight: normal !important;
  background: #eff8fb !important;
  border-bottom: 1px solid #6db5c4;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.shortcode_feedcategoryall .nice-select .list .option.focus,
.shortcode_feedcategoryall .nice-select .list .option.selected.focus,
.shortcode_feedcategoryall .nice-select .list .option:hover {
  color: #000;
  background: #d8f0f6 !important;
}

.shortcode_feedcategoryall .nice-select .list .option:hover {
  background: #d8f0f6 !important;
}

.shortcode_feedcategoryall .nice-select .list:hover .option:not(:hover) {
  background: #eff8fb !important;
}

.shortcode_feedcategoryall .shortcode_header {
  margin-bottom: 20px;
}

.shortcode_feedcategoryall .posts {
  opacity: 1;
  -webkit-transition: opacity 1s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: opacity 1s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: opacity 1s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: opacity 1s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.shortcode_feedcategoryall .posts .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 25px;
  position: relative;
}

.shortcode_feedcategoryall .posts .post .col-first {
  width: -webkit-calc(100% - 120px);
  width: -moz-calc(100% - 120px);
  width: calc(100% - 120px);
  padding-right: 8%;
  position: relative;
}

.shortcode_feedcategoryall .posts .post .col-second {
  width: 120px;
  position: relative;
  text-align: right;
  padding: 30px 0 0;
}

.shortcode_feedcategoryall .posts .post .date {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #9A9A9A;
  margin-bottom: 5px;
}

.shortcode_feedcategoryall .posts .post .title {
  display: inline-block;
  font-family: 'Sofia Pro';
  font-weight: bold;
  color: #000;
  margin-bottom: 5px;
  cursor: pointer;
}

.shortcode_feedcategoryall .posts .post .excerpt,
.shortcode_feedcategoryall .posts .post .readmore {
  font-family: 'Sofia Pro';
  font-weight: 300;
  color: #9A9A9A;
  padding-right: 85px;
}

.shortcode_feedcategoryall .posts .post .readmore {
  display: inline-block;
  text-decoration: underline;
  -webkit-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  cursor: pointer;
}

.shortcode_feedcategoryall .posts .post .readmore:hover {
  color: #21955F;
}

.shortcode_feedcategoryall .posts .post .arrow,
.shortcode_feedcategoryall .posts .post .download {
  line-height: 0;
  cursor: pointer;
  margin: 0 5px;
  text-decoration: none;
}

.shortcode_feedcategoryall .posts .post .arrow svg *,
.shortcode_feedcategoryall .posts .post .download svg * {
  stroke: #9A9A9A;
}

.shortcode_feedcategoryall .posts .post .arrow:hover svg *,
.shortcode_feedcategoryall .posts .post .download:hover svg * {
  stroke: #21955F;
}

.shortcode_feedcategoryall .posts .post:last-child {
  margin-bottom: 0;
}

.shortcode_feedcategoryall .posts.load {
  opacity: .1;
}

.shortcode_feedcategoryall .posts.hide,
.shortcode_feedcategoryall .contents.hide {
  display: none;
}

body[data-device="computer"] .shortcode_feedcategoryall .links.forPc,
body[data-device="tablet"] .shortcode_feedcategoryall .links.forTablet,
body[data-device="phone"] .shortcode_feedcategoryall .links.forPhone {
  display: block;
}

.widget-block_texts_and_backgrounds .text .shortcode_feedcategoryall .nice-select {
  font-family: 'GT Pressura Mono' !important;
  font-weight: normal !important;
}

/* ======================================== */
/* 5.4. Shortcode - shortcode_meetings  */
/* ======================================== */
.shortcode_meetings {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.shortcode_meetings .nav_container {
  margin-bottom: 50px;
}

.shortcode_meetings .nav_container .arrow {
  display: block;
  width: 32px;
  height: 32px;
  background: #ebebeb;
  cursor: pointer;
  position: relative;
}

.shortcode_meetings .nav_container .arrow.prev {
  float: left;
}

.shortcode_meetings .nav_container .arrow.next {
  float: right;
}

.shortcode_meetings .nav_container .arrow svg {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.shortcode_meetings .nav_container .arrow svg * {
  stroke: #9A9A9A;
  -webkit-transition: stroke 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: stroke 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: stroke 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: stroke 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.shortcode_meetings .nav_container .arrow:hover svg * {
  stroke: #21955F;
}

.shortcode_meetings .nav_container .nav {
  width: -webkit-calc(100% - 70px);
  width: -moz-calc(100% - 70px);
  width: calc(100% - 70px);
  height: 32px;
  line-height: 32px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.shortcode_meetings .nav_container .nav .scroll {
  width: 2000px;
  position: absolute;
  left: 0;
  -webkit-transition: left 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: left 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: left 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: left 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.shortcode_meetings .nav_container .nav .scroll a {
  display: block;
  width: 100px;
  height: 32px;
  line-height: 32px;
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  text-align: center;
  color: #9c9c9c;
  float: left;
  background: #ebebeb;
  cursor: pointer;
  margin: 0 2px 0 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition: background 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: background 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: background 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: background 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.shortcode_meetings .nav_container .nav .scroll a.active,
.shortcode_meetings .nav_container .nav .scroll a:hover {
  color: #000;
  border-left: 1px solid #a0a0a0;
  border-right: 1px solid #a0a0a0;
  border-top: 1px solid #a0a0a0;
  background: #fff;
  position: relative;
  z-index: 2;
}

.shortcode_meetings .nav_container .nav .scroll .line {
  width: 100%;
  height: 1px;
  background: #a0a0a0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.shortcode_meetings .meetings_container {
  position: relative;
}

.shortcode_meetings .meetings_container .meet_container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: background 1s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: background 1s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: background 1s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: background 1s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.shortcode_meetings .meetings_container .meet_container .meet {
  position: relative;
  margin-bottom: 40px;
}

.shortcode_meetings .meetings_container .meet_container .meet .title {
  font-family: 'Sofia Pro';
  font-weight: bold;
  color: #000;
  padding-right: 60px;
}

.shortcode_meetings .meetings_container .meet_container .meet .info {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #9A9A9A;
  text-transform: uppercase;
}

.shortcode_meetings .meetings_container .meet_container .meet .arrow {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  line-height: 0;
  cursor: pointer;
}

.shortcode_meetings .meetings_container .meet_container .meet .arrow svg * {
  stroke: #9A9A9A;
}

.shortcode_meetings .meetings_container .meet_container .meet .arrow:hover svg * {
  stroke: #9A9A9A;
}

.shortcode_meetings .meetings_container .meet_container.active {
  opacity: 1;
  pointer-events: all;
}

/* ======================================== */
/* 5.4. Shortcode - shortcode_financialcalendar  */
/* ======================================== */
.shortcode_financialcalendar .shortcode_header {
  margin-bottom: 60px;
}

.shortcode_financialcalendar .events .event {
  margin-bottom: 30px;
}

.shortcode_financialcalendar .events .event .date {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #9A9A9A;
  margin-bottom: 5px;
}

.shortcode_financialcalendar .events .event .title {
  display: inline-block;
  font-family: 'Sofia Pro';
  font-weight: bold;
  color: #000;
  margin-bottom: 5px;
  padding-right: 85px;
}

.shortcode_financialcalendar .events .event:last-child {
  margin-bottom: 0;
}

/* ======================================== */
/* 5.4. Shortcode - shortcode_contact  */
/* ======================================== */
.shortcode_contact .name {
  font-family: 'Sofia Pro' !important;
  font-weight: normal !important;
  color: #000;
  margin-bottom: 10px;
}

.shortcode_contact .email,
.shortcode_contact .phone {
  display: table;
  line-height: 30px;
  padding: 0 0 0 40px;
  position: relative;
  font-family: 'GT Pressura Mono' !important;
  font-weight: normal !important;
  color: #6E6E6E;
  cursor: pointer;
  -webkit-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.shortcode_contact .email .icon,
.shortcode_contact .phone .icon {
  height: 19px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.shortcode_contact .email .icon svg *,
.shortcode_contact .phone .icon svg * {
  stroke: #6E6E6E;
  -webkit-transition: stroke 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: stroke 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: stroke 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: stroke 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.shortcode_contact .email:hover,
.shortcode_contact .phone:hover {
  color: #21955F;
}

.shortcode_contact .email:hover .icon svg *,
.shortcode_contact .phone:hover .icon svg * {
  stroke: #21955F;
}

/* ======================================== */
/* 5.4. Shortcode - shortcode_files  */
/* ======================================== */
.shortcode_files .item {
  width: 100%;
  max-width: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 2px;
  position: relative;
  background: #fff;
  padding: 20px;
}

.shortcode_files .item .col-first {
  width: -webkit-calc(100% - 120px);
  width: -moz-calc(100% - 120px);
  width: calc(100% - 120px);
  padding-right: 8%;
  position: relative;
}

.shortcode_files .item .col-second {
  width: 120px;
  position: relative;
  text-align: right;
  padding: 15px 0 0;
}

.shortcode_files .item .date {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #9A9A9A;
  margin-bottom: 5px;
}

.shortcode_files .item .title {
  display: inline-block;
  font-family: 'Sofia Pro';
  font-weight: bold;
  color: #000;
  margin-bottom: 5px;
  cursor: pointer;
}

.shortcode_files .item .title:hover {
  color: #21955F;
}

.shortcode_files .item .arrow,
.shortcode_files .item .download {
  line-height: 0;
  cursor: pointer;
  margin: 0 5px;
  text-decoration: none;
}

.shortcode_files .item .arrow svg *,
.shortcode_files .item .download svg * {
  stroke: #9A9A9A;
}

.shortcode_files .item .arrow:hover svg *,
.shortcode_files .item .download:hover svg * {
  stroke: #21955F;
}

.shortcode_files .item:last-child {
  margin-bottom: 0;
}

.shortcode_pagesdisplay .shortcode_files .item {
  padding: 20px 0;
}

/* ======================================== */
/* 5.4. Shortcode - shortcode_people        */
/* ======================================== */
.shortcode_people .people .category {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #000;
  margin-bottom: 30px;
}

.shortcode_people .people .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px 30px;
}

.shortcode_people .people .list .person {
  margin: 0 15px 30px;
}

.shortcode_people .people .list .person .photo {
  width: 100%;
  height: 200px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top center;
}

.shortcode_people .people .list .person .desc {
  padding: 20px;
  background: #fff;
}

.shortcode_people .people .list .person .desc .title {
  font-family: 'Sofia Pro';
  font-weight: bold;
  color: #000;
}

.shortcode_people .people .list .person .desc .description {
  font-family: 'Sofia Pro';
  font-weight: 300;
  color: #9A9A9A;
  padding-bottom: 60px;
}

.shortcode_people[data-size="1"] .people .list .person {
  width: -webkit-calc(100% - 30px);
  width: -moz-calc(100% - 30px);
  width: calc(100% - 30px);
}

.shortcode_people[data-size="2"] .people .list .person {
  width: -webkit-calc(50% - 30px);
  width: -moz-calc(50% - 30px);
  width: calc(50% - 30px);
}

.shortcode_people[data-size="3"] .people .list .person {
  width: -webkit-calc(33.333% - 30px);
  width: -moz-calc(33.333% - 30px);
  width: calc(33.333% - 30px);
}

/* ======================================== */
/* 5.4. Shortcode - shortcode_sitemap  */
/* ======================================== */
.shortcode_sitemap .link_main {
  display: block;
  font-family: 'Sofia Pro';
  font-weight: bold;
  color: #000 !important;
  text-decoration: underline !important;
  margin-bottom: 20px;
  line-height: 36px;
}

.shortcode_sitemap .link_sub {
  display: block;
  font-family: 'Sofia Pro';
  font-weight: 300;
  color: #6E6E6E !important;
  text-decoration: underline !important;
  margin-bottom: 5px;
}

.shortcode_sitemap .link_main:hover,
.shortcode_sitemap .link_sub:hover {
  color: #21955F !important;
}

.shortcode_sitemap .link_group {
  margin-bottom: 30px;
}

/* ================== */
/* IPAD screen style */
/* ================== */
body[data-deviceglobal="tablet"] header .more .search .container-input {
  width: -webkit-calc(100% - 50px);
  width: -moz-calc(100% - 50px);
  width: calc(100% - 50px);
}

body[data-deviceglobal="tablet"] header.hover {
  height: auto;
}

body[data-deviceglobal="tablet"] header.hover .more {
  z-index: 99999;
}

/* ================== */
/* SM screen style */
/* ================== */
@media (max-width: 992px) {
  body {
    padding: 60px 0 0;
  }
  body.frozen {
    overflow: hidden;
    height: 100vh;
  }
  header {
    background: #000;
    height: 60px;
    line-height: 60px;
  }
  header .less {
    height: 60px;
    line-height: 60px;
  }
  header .less .logo {
    line-height: 60px;
  }
  header .less .c-hamburger {
    display: block;
    top: 10px;
  }
  header .less .extra,
  header .less .links {
    display: none;
  }
  header .more {
    display: none;
  }
  header.is-active {
    height: 100%;
    z-index: 9999;
  }
  header.is-active .links ul li {
    float: none;
    padding: 0;
  }
  header.is-active .less {
    background: #000;
    height: auto;
  }
  header.is-active .less .logo {
    width: 100%;
    float: none;
  }
  header.is-active .less .extra {
    display: inline-block;
    position: absolute;
    top: 0;
    left: initial;
    right: 60px;
    text-align: right;
  }
  header.is-active .less .extra .bt-language a,
  header.is-active .less .extra .bt-search,
  header.is-active .less .extra .link {
    margin: 0 0 0 20px;
  }
  header.is-active .less .extra .bt-search {
    display: none;
  }
  header.is-active .less .links {
    display: none;
    height: auto;
    line-height: 25px;
    float: none;
    background: #000;
  }
  header.is-active .more {
    display: block !important;
    height: 100vh !important;
    overflow-y: scroll;
    visibility: visible !important;
    background: #000;
    pointer-events: all;
    position: absolute;
    top: 0;
    padding: 50px 0 20px;
  }
  header.is-active .more .mask {
    display: none;
  }
  header.is-active .more .container {
    height: auto !important;
  }
  header.is-active .more .links,
  header.is-active .more .search {
    float: none;
  }
  header.is-active .more .links *,
  header.is-active .more .search * {
    opacity: 1 !important;
  }
  header.is-active .more .search {
    width: 100%;
    margin-bottom: 30px;
  }
  header.is-active .more .search .container-input {
    width: -webkit-calc(100% - 60px);
    width: -moz-calc(100% - 60px);
    width: calc(100% - 60px);
  }
  header.is-active .more .links li {
    width: 100% !important;
  }
  header.is-active .more .links li a {
    visibility: visible !important;
  }
  header.is-active .more .links li ul {
    width: 100% !important;
    position: relative;
  }
  header.is-active .more .links li ul li {
    margin-bottom: 20px;
  }
  header.is-active .more .links li ul li a {
    width: 50%;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding-right: 20px;
  }
  header.is-active .more .links li ul li .clear {
    clear: both;
  }
  header.is-active .socials {
    height: 20px;
    opacity: 1;
    position: relative;
    bottom: initial;
    margin-top: 20px;
  }
  footer .footer .backtotop {
    right: 10px;
  }
  .shortcode_stockexchange {
    width: 250px;
  }
  .shortcode_feedcategory .filter {
    margin-bottom: 70px;
  }
  .shortcode_feedcategory .filter .select_category,
  .shortcode_feedcategory .filter .select_year {
    height: 50px;
  }
  .shortcode_financialcalendar .shortcode_header {
    margin-bottom: 30px;
  }
  .shortcode_feedcategoryall .links {
    margin: 40px 0;
  }
  .shortcode_feedcategoryall .posts .post .excerpt,
  .shortcode_feedcategoryall .posts .post .readmore {
    padding-right: 0;
  }
  .shortcode_pagesdisplay .links {
    margin-bottom: 30px;
  }
  .shortcode_pagesdisplay .top {
    padding: 30px 0 60px;
  }
  .shortcode_pagesdisplay .pages {
    padding: 30px 0 0;
  }
  .shortcode_pagesdisplay .pages .col {
    padding-bottom: 10px;
  }
  .shortcode_pagesdisplay .content p {
    line-height: 25px;
  }
  .shortcode_people .people .list {
    margin: 0 -15px 30px;
  }
  .shortcode_people .people .list .person {
    margin: 0 15px 15px;
  }
  .shortcode_people .people .list .person .desc .description {
    padding-bottom: 0;
  }
  .shortcode_sitemap .link_group {
    margin-bottom: 15px;
  }
  .shortcode_sitemap .link_main {
    margin-bottom: 10px;
  }
}

/* ================== */
/* XS screen style */
/* ================== */
@media (max-width: 767px) {
  body {
    padding: 40px 0 0;
  }
  header {
    background: #000;
    height: 40px;
    line-height: 40px;
  }
  header .less {
    height: 40px;
    line-height: 40px;
  }
  header .less .logo {
    line-height: 40px;
  }
  header .less .c-hamburger {
    top: 0;
  }
  header .less .extra,
  header .less .links {
    display: none;
  }
  header .more {
    display: none;
  }
  header.is-active .less {
    width: 100%;
    position: fixed;
    z-index: 1000;
  }
  header.is-active .more {
    width: 100%;
    height: 100% !important;
    position: fixed;
    z-index: 999;
  }
  footer .our_brands {
    padding: 20px 0;
  }
  footer .our_brands .header {
    margin-bottom: 0;
  }
  footer .footer {
    padding: 20px 0;
  }
  footer .footer .backtotop {
    top: 30px;
    right: 40px;
  }
  footer .footer .links .cl-half {
    width: 100%;
    float: left;
  }
  footer .footer .links .cl-half a {
    font-size: 13px;
  }
  footer .footer .links .clear {
    clear: both;
  }
  footer .footer .socials {
    padding: 20px 0;
  }
  .shortcode_cision_feed1 .posts .post .title {
    padding-right: 50px;
  }
  .shortcode_stockexchange {
    width: 230px;
  }
  .shortcode_scientificreports .col-first,
  .shortcode_scientificreports .col-second {
    width: 100%;
  }
  .shortcode_scientificreports .col-second {
    padding-right: 40px;
  }
  .shortcode_scientificreports .post {
    margin-bottom: 40px;
  }
  .shortcode_scientificreports .post .download {
    top: 20px;
  }
}

@media (min-width: 1400px) {
  body {
    padding-top: 80px;
  }
  .container {
    max-width: 1300px;
  }
  header {
    height: 80px;
  }
  header .less {
    height: 80px;
  }
  header .less .logo {
    line-height: 80px;
  }
  header .less .links {
    line-height: 80px;
  }
}

@media (min-width: 1500px) {
  body {
    padding-top: 85px;
  }
  .container {
    max-width: 1400px;
  }
  header {
    height: 85px;
  }
  header .less {
    height: 85px;
  }
  header .less .logo {
    line-height: 85px;
  }
  header .less .links {
    line-height: 85px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1500px;
  }
}

@media (min-width: 1700px) {
  .container {
    max-width: 1550px;
  }
}

@media (min-width: 1800px) {
  .container {
    max-width: 1600px;
  }
}

@media (min-width: 1900px) {
  .container {
    max-width: 1700px;
  }
}

@media (min-width: 2000px) {
  .container {
    max-width: 1800px;
  }
}
