@import "../../../../../scss/mixin";

.widget-blocktextphoto {
    .background {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 0;
    }

    .inside {
        position: relative;

        .header {
            font-family: 'GT Pressura Mono';
            font-weight: normal;
            color: #000;
            margin-bottom: 50px;
        }

        .text {
            font-family: 'Sofia Pro';
            font-weight: bold;
            color: #000;

            p {
                margin-bottom: 40px;
            }

            p:last-child {
                margin-bottom: 0;
            }
        }

        .link {
            font-family: 'GT Pressura Mono';
            font-weight: normal;
            color: #000000;
            text-decoration: underline;
            position: absolute;
            bottom: 50px;
            left: 0;
            @include transition(color, .35s, cubic-bezier(.12, .49, 0, 1), 0s);
        }

        .link:hover {
            color: #21955F;
        }
    }
}

.widget-blocktextphoto[data-side="left"] {
    .background {
        right: -15px;
    }
}

.widget-blocktextphoto[data-side="right"] {
    .background {
        left: 15px;
    }
}
/* ================== */
/* SM screen style */
/* ================== */
@media (max-width: 992px) {
    .widget-blocktextphoto {}

    .widget-blocktextphoto[data-side="left"] {
        .background {
            right: 0;
        }
    }

    .widget-blocktextphoto[data-side="right"] {
        .background {
            left: 0;
        }
    }
}
/* ================== */
/* XS screen style */
/* ================== */
@media (max-width: 767px) {
    .widget-blocktextphoto {
        .col-background {
            height: 200px;
            order: 1;
        }

        .col-content {
            order: 2;
        }

        .background {
            width: 100% !important;
        }
    }

    .widget-blocktextphoto[data-side="left"] {
        .background {
            right: 0;
        }
    }

    .widget-blocktextphoto[data-side="right"] {
        .background {
            left: 0;
        }
    }
}
