.widget-blocktextphoto .background {
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
}

.widget-blocktextphoto .inside {
  position: relative;
}

.widget-blocktextphoto .inside .header {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #000;
  margin-bottom: 50px;
}

.widget-blocktextphoto .inside .text {
  font-family: 'Sofia Pro';
  font-weight: bold;
  color: #000;
}

.widget-blocktextphoto .inside .text p {
  margin-bottom: 40px;
}

.widget-blocktextphoto .inside .text p:last-child {
  margin-bottom: 0;
}

.widget-blocktextphoto .inside .link {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #000000;
  text-decoration: underline;
  position: absolute;
  bottom: 50px;
  left: 0;
  -webkit-transition: color 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: color 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: color 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: color 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.widget-blocktextphoto .inside .link:hover {
  color: #21955F;
}

.widget-blocktextphoto[data-side="left"] .background {
  right: -15px;
}

.widget-blocktextphoto[data-side="right"] .background {
  left: 15px;
}

/* ================== */
/* SM screen style */
/* ================== */
@media (max-width: 992px) {
  .widget-blocktextphoto[data-side="left"] .background {
    right: 0;
  }
  .widget-blocktextphoto[data-side="right"] .background {
    left: 0;
  }
}

/* ================== */
/* XS screen style */
/* ================== */
@media (max-width: 767px) {
  .widget-blocktextphoto .col-background {
    height: 200px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .widget-blocktextphoto .col-content {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .widget-blocktextphoto .background {
    width: 100% !important;
  }
  .widget-blocktextphoto[data-side="left"] .background {
    right: 0;
  }
  .widget-blocktextphoto[data-side="right"] .background {
    left: 0;
  }
}
