.widget-articleothers {
  padding: 50px 0;
  background: #EBEBEB;
}

.widget-articleothers .header {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #000000;
  margin-bottom: 50px;
}

.widget-articleothers .box {
  background: #fff;
}

.widget-articleothers .box .date {
  padding: 20px;
  background: #f5f5f5;
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #9A9A9A;
}

.widget-articleothers .box .title {
  display: block;
  font-family: 'Sofia Pro';
  font-weight: bold;
  color: #000;
  padding: 30px 20px 70px;
  text-decoration: none;
  position: relative;
}

.widget-articleothers .box .title .arrow {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 1;
}

.widget-articleothers .box .title .arrow * {
  stroke: #9A9A9A;
}

.widget-articleothers .box .title:hover {
  color: #21955F;
}

.widget-articleothers .box .title:hover .arrow * {
  stroke: #21955F;
}

@media (max-width: 767px) {
  .widget-articleothers {
    padding: 30px 0;
  }
  .widget-articleothers .box {
    margin-bottom: 30px;
  }
}
