.widget-footerourbrands .brand {
  text-decoration: none;
}

.widget-footerourbrands .brand .logo {
  -webkit-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  margin-bottom: 10px;
}

.widget-footerourbrands .brand .logo img {
  height: 30px;
}

.widget-footerourbrands .brand .title {
  font-family: 'Sofia Pro';
  font-weight: 500;
  color: #EBEBEB;
  -webkit-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.widget-footerourbrands .brand .text {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #9A9A9A;
  text-decoration: underline;
  -webkit-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.widget-footerourbrands .brand .arrow {
  margin-top: 140px;
}

.widget-footerourbrands .brand .arrow svg * {
  stroke: #9A9A9A;
  -webkit-transition: stroke 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: stroke 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: stroke 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: stroke 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.widget-footerourbrands .brand:hover .text,
.widget-footerourbrands .brand:hover .title {
  color: #21955F;
}

.widget-footerourbrands .brand:hover .arrow svg * {
  stroke: #21955F;
}

@media (max-width: 767px) {
  .widget-footerourbrands .brand {
    display: block;
    margin-top: 50px;
  }
  .widget-footerourbrands .brand .arrow {
    margin-top: 40px;
  }
}
